<style>
    .modal-body {
        min-height: 300px;
    }
</style>

<div class="modal-header">
    <h3 class="modal-title">Enter the keyword and properties</h3>
</div>

<div class="modal-body">
    <form class="horizontal">
        <div class="form-group">
            <label for="keyword" class="col-sm-2 control-label">Keyword</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="keyword" placeholder="header keyword" ng-model="newKey.key">
            </div>
        </div>
        <div class="form-group">
            <label for="modality" class="col-sm-2 control-label">Modality</label>
            <div class="col-sm-10">
                <select class="form-control" id="modality" ng-model="newKey.modality">
                    <option value="common">Common</option>
                    <option value="MR">MR</option>
                    <option value="CT">CT</option>
                    <option value="PT">PT</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="newKey.skip"> Skip QC
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="newKey.custom"> Use Customized QC
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button ng-disabled="comment.length<3" class="btn btn-primary" type="button" ng-click="submit()">Add Keyword</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
