<div class="qc_errorpanel">
    <div class="errorpanelicon erroricon" ng-if="type === 'error'">
        <i class="fa fa-inverse fa-3x fa-fw fa-exclamation-circle"></i>
    </div>
    <div class="errorpanelicon warningicon" ng-if="type === 'warning'">
        <i class="fa fa-inverse fa-3x fa-fw fa-exclamation-triangle"></i>
    </div>
    <div class="errorpanelicon infoicon" ng-if="type === 'info'">
        <i class="fa fa-inverse fa-3x fa-fw fa-info-circle"></i>
    </div>
    <div class="errordesc" ng-if="error.type == 'image_count_mismatch' && error.tc > error.c">
        <h4>{{error.tc - error.c}} image headers are missing</h4>
        The template for this series contains {{error.tc}} images, but only {{error.c}} were found
    </div>
    <div class="errordesc" ng-if="error.type == 'image_count_mismatch' && error.c >= error.tc">
        <h4>{{error.c - error.tc - notemps}} image headers are duplicated</h4>
        The template for this series contains {{error.tc}} images, but {{error.c - error.tc - notemps}} duplicate images were found
    </div>
    <div class="errordesc" ng-if="error.type == 'not_set'">
        <h4>{{error.c}} header fields are missing ({{error.per * 100 | number:1}}%)</h4>
        A total of {{error.c}} header fields that were present in the template were not found in the series image headers
    </div>
    <div class="errordesc" ng-if="error.type == 'image_errors'">
        <h4>{{error.c}} image headers contain QC errors ({{error.per * 100 | number:1}}%)</h4>
        Quality control errors have been found in {{error.c}} image headers.
    </div>
    <div class="errordesc" ng-if="error.type == 'template_mismatch'">
        <h4>{{error.c}} header fields contain QC errors ({{error.per * 100 | number:1}}%)</h4>
        A total of {{error.c}} quality control errors were found in all image header fields in this series.
    </div>
    <div class="errordesc" ng-if="error.type == 'image_tag_mismatch'">
        <h4>{{error.c}} excess header fields found </h4>
        A total of {{error.c}} image header fields in this series are not present in the template series.
    </div>
    <div class="errordesc" ng-if="error.type == 'image_warning'">
        <h4>{{error.c}} image headers contain QC warnings</h4>
        Quality control warnings have been found in {{error.c}} image headers.
    </div>
    <div class="errordesc" ng-if="type == 'info'">
        <h4>{{notemps}} excess images found</h4>
        This series contains {{notemps}} image headers with no matching template image header
    </div>
</div>
