<div class="subject-body">

    <div ng-if="!$ctrl.exam.isdeleted" class="subject-tall">
        <p>
            <time style="position: relative; top: 5px"><b>{{::$ctrl.exam.StudyTimestamp|date:'short':'-0400'}} <small>(EST)</small></b></time> &nbsp;
            <button class="btn btn-xs btn-info" ng-if="$ctrl.qc" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.openmodal();" uib-tooltip="ReQC all series in this exam">ReQC</button>
            <button class="btn btn-xs btn-info" ng-if="$ctrl.qc" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.qcalert($ctrl.exam,'ReQC failed')" uib-tooltip="ReQC only series that have not passed QC">ReQC failed series</button>
            <!-- <button ng-if="$ctrl.istemplate" class="pull-right btn btn-xs btn-warning" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.opencomment()" uib-tooltip="Delete all series in this exam"><i class="fa fa-trash fa-sm" aria-hidden="true"></i>  Delete Exam</button>
            <br> -->
            <button class="btn btn-xs" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.opencomment()" uib-tooltip="Delete all series in this exam"><i class="fa fa-trash fa-sm" aria-hidden="true"></i>  Delete Exam</button>
            <!-- <br> -->
            <button class="btn btn-xs " style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.opencomment()" uib-tooltip="Make a copy of this exam and add it as an available template to QC studies from this IIBISID"><i class="fa fa-files-o fa-sm" aria-hidden="true"></i> Add as Template</button>
            <button class="btn btn-xs" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.opencontactpi()" uib-tooltip="Contact the research PI"><i class="fa fa-envelope fa-sm" aria-hidden="true"></i>  Contact PI</button>          
        </p>
        <table class="table table-condensed" style="margin-bottom: 0px;">
        <thead><tr class="text-muted"><th width="30%">Series Description</th><th width="30%">Status</th><th>Template Used</th></tr></thead>
        <tbody>
            <tr ng-repeat="s in $ctrl.exam.series track by s._id" ng-if="!s.deprecated_by || $ctrl.deprecated !== null ">
                <td ng-class="{'text-muted' : s.deprecated_by}">{{::s.series_desc}}</td>
                <td style="padding: 0px;">
                    <div class="text-muted excluded"
                        ng-if="::s._isexcluded"
                        ng-click="s._isexcluded = false">Excluded</div>
                    <div class="slide-down"
                        ng-if="::!s._isexcluded">
                        <div class="studies" style="display: inline-block;">
                            <div ng-if="!s.deprecated_by || $ctrl.deprecated">
                                <studynote ng-click="$ctrl.openstudy(s._id)" study="s"></studynote>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="padding: 0px;">
                    <div>
                        <!--search for series.qc.template_id-->
                        <div ng-init="template = $ctrl.templateLookup[s.qc.template_id]" class="studynote" ng-if="::s.qc1_state !== 'no template'" style="background-color: {{::template.bgcolor}}">
                            {{::template.StudyTimestamp | date:'short':'-0400'}}
                            <!--<span class="text-muted">{{template.series_desc}}</span>-->
                            <span class="text-muted">(#{{::template.SeriesNumber}})</span>
                        </div>
                    </div>
                </td>
            </tr>

            <!--missing series -->
            <tr ng-repeat="series_desc in $ctrl.exam.qc.series_missing">
                <td class="text-muted">{{series_desc}}</td>
                <td style="padding: 0px;">
                    <div class="missing">
                        <span class="label label-info">Missing</span>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
        </table>
    </div><!--end of tall view-->

    <div ng-if="$ctrl.exam.isdeleted" class="subject-tall">
            <div ng-repeat="cmnt in $ctrl.exam.comments" ng-if="cmnt.title === 'Exam Deleted'">
                <p>
                    <time style="position: relative; top: 5px"><b>Exam Deleted</b></time> &nbsp;
                    <button class="btn btn-warning" style="position: relative; top: 5px; padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.opendeleted(cmnt)" uib-tooltip="Exam deletion details"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i></button>
                </p>
            </div>

    </div>

</div><!--subject-body-->
