<div class="subject-body">
    <div class="subject-tall">
        <p>
            <time style="position: relative; top: 5px"><b>{{$ctrl.exam.StudyTimestamp|date:'short':'-0400'}} <small>(EST)</small></b></time> &nbsp;
            <!-- <button class="btn btn-xs btn-info" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.reqc($ctrl.exam._id)" uib-tooltip="ReQC all series in this exam">ReQC</button> -->
            <button class="btn btn-xs btn-info" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.qcalert($ctrl.exam,'all')" uib-tooltip="ReQC all series in this exam">ReQC</button>
            <button class="btn btn-xs btn-info" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.qcalert($ctrl.exam,'failed')" uib-tooltip="ReQC only series that have not passed QC">ReQC failed series</button>            
        </p>
        <table class="table table-condensed" style="margin-bottom: 0px;">
        <thead><tr class="text-muted"><th width="30%">Series Description</th><th width="30%">Status</th><th>Template Used</th></tr></thead>
        <tbody>
            {{exam}}
            <tr ng-repeat="s in $ctrl.exam.series">
                <td>{{s.series_desc}}</td>
                <td style="padding: 0px;">
                    <div class="text-muted excluded" 
                        ng-if="s._isexcluded"
                        ng-click="s._isexcluded = false">Excluded</div>
                    <div class="slide-down"
                        ng-if="!s._isexcluded">
                        <div class="studies" style="display: inline-block;">
                            <div ng-if="!s.deprecated_by || $ctrl.deprecated">
                                <studynote ng-click="$ctrl.openstudy(s._id)" study="s"></studynote>
                            </div>
                            <!--<div ng-if="series.deprecated_by" class="studynote" ng-click="$ctrl.openstudy(series._id)">-->
                                <!--<span class="text-muted">#{{series.SeriesNumber}}</span>-->
                            <!--</div>-->
                        </div>
                    </div>
                </td>
                <td style="padding: 0px;">
                    <div>
                        <!--search for series.qc.template_id-->
                        <div ng-init="template = $ctrl.templateLookup({t_id: s.qc.template_id})" class="studynote" ng-if="s.qc1_state !== 'no template'">
                            {{template.StudyTimestamp | date:'short':'-0400'}}
                            <!--<span class="text-muted">{{template.series_desc}}</span>-->
                            <span class="text-muted">(#{{template.SeriesNumber}})</span>
                        </div>
                    </div>
                </td>
            </tr>

            <!--missing series -->
            <tr ng-repeat="series_desc in $ctrl.exam.qc.series_missing">
                <td class="text-muted">{{series_desc}}</td>
                <td style="padding: 0px;">
                    <div class="missing clickable" 
                        ng-repeat="template in templates | orderBy:'-SeriesNumber'"
                        ng-click="$ctrl.opentemplate(template._id)">
                        <span class="label label-info">Missing</span> 
                        <span class="text-muted">#{{template.SeriesNumber}}</span>
                    </div>
                </td>
                <td><!--missing series doesn't have any used template--></td>
            </tr>
        </tbody>
        </table>
    </div><!--end of tall view-->
</div><!--subject-body-->

