<!-- folded (studytime on each column) view -->
<li class="list-group-item list-group-item-subject" ng-if="$ctrl.mode == 'wide'">
    <table class="table table-condensed" style="margin-bottom: 0px;">
    <thead>
        </tr>
        <tr><th width="30%"><span class="text-muted">Series Description</span></th>
            <th ng-repeat="(exam_id, exam) in ::$ctrl.exams">
                <time>{{::exam.date|date:'short'}}</time> &nbsp;
                <button class="btn btn-xs" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.reqc(exam_id)">ReQC</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-muted">Comments</td>
            <td class="comments" ng-repeat="(exam_id, exam) in $ctrl.exams">

                <!--comments-->
                <div class="comment" ng-repeat="comment in exam.comments">
                    <div class="row">
                        <div class="col-md-1"><img gravatar-src="comment._profile.email" gravatar-size="30"></img></div>
                        <div class="col-md-11">
                            <time class="pull-right text-muted">{{comment.date|date:'short'}}</time>
                            <b class="text-muted">{{comment._profile.fullname}}</b>
                            <p>{{comment.comment}}</p>
                        </div>
                    </div>
                </div>
                <textarea class="form-control" placeholder="New Comment" ng-model="$ctrl.newcomment" rows="{{comment_active||1}}" ng-focus="comment_active = 2"></textarea>
                <button type="button" class="btn btn-xs" ng-click="$ctrl.addcomment(exam_id)" ng-if="$ctrl.newcomment"><i class="fa fa-check"></i></button>
            </td>
        </tr>
        <tr ng-repeat="series_group in $ctrl.serieses | toArray:true | orderBy:'min_SeriesNumber'" ng-init="series_desc = series_group.$key">
            <td>{{::series_desc}}</td>
            <td ng-repeat="(exam_id, exam) in $ctrl.exams" style="padding: 0px;">
                <div class="text-muted excluded" 
                    ng-if="series_group._isexcluded" 
                    ng-click="series_group._isexcluded = false">Excluded</div>
                <div class="slide-down"
                    ng-if="!series_group._isexcluded">
                    <div style="display: inline-block;" ng-repeat="series in series_group.exams[exam_id]">
                        <div ng-if="!series.deprecated_by">
                            <studynote ng-click="$ctrl.openstudy(series._id)" study="series"></studynote>
                        </div>
                        <div ng-if="series.deprecated_by" class="studynote" ng-click="$ctrl.openstudy(series._id)">
                            <!-- only show seriesnumber for older series-->
                            <span class="text-muted">#{{::series.SeriesNumber}}</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-repeat="series_desc in ::$ctrl.missing_series_descs">
            <td class="text-muted">{{::series_desc}}</td>
            <td ng-repeat="(exam_id, exam) in ::$ctrl.exams" style="padding: 0px;">
                <div class="missing clickable"
                    ng-repeat="template in ::$ctrl.missing[exam.date][series_desc] | orderBy:'-SeriesNumber'" 
                    ng-click="$ctrl.opentemplate(template._id)">
                    <span class="label label-info">Missing</span> 
                    <span class="text-muted">(#{{::template.SeriesNumber}})</span>
                </div>
            </td>
            <td></td>
        </tr>
    </tbody>
    </table>
</li>
<!-- exploded view (show each study time under different list-group-item) -->
<li class="list-group-item list-group-item-subject" ng-if="$ctrl.mode == 'tall'" ng-repeat="(exam_id, exam) in $ctrl.exams">
    <div class="row">
        <div class="col-md-3">
            <p>
                <time style="position: relative; top: 5px"><b>{{::exam.date|date:'short'}}</b></time> &nbsp;
                <button class="btn btn-xs" style="padding: 1px 2px; font-size: 80%;" ng-click="$ctrl.reqc(exam_id)">ReQC</button>
            </p>

            <!--comments-->
            <div class="comments">
                <div class="comment" ng-repeat="comment in exam.comments">
                    <img gravatar-src="comment._profile.email" gravatar-size="30" align="left"></img>
                    <p class="text-muted">
                        <b>{{comment._profile.fullname}}</b>
                        <br>
                        <time>{{comment.date|date:'short'}}</time>
                    </p>
                    <p>
                        {{comment.comment}}
                    </p>
                    <br style="clear:both;">
                </div>
                <textarea class="form-control" placeholder="New Comment" ng-model="$ctrl.newcomment" rows="{{comment_active||1}}" ng-focus="comment_active = 3"></textarea>
                <button type="button" class="btn btn-xs" ng-click="$ctrl.addcomment(exam_id)" ng-if="$ctrl.newcomment"><i class="fa fa-check"></i></button>
            </div>

        </div>
        <div class="col-md-9">
            <table class="table table-condensed" style="margin-bottom: 0px;">
            <thead><tr class="text-muted"><th width="30%">Series Description</th><th>Status</th><th>Template Used</th></tr></thead>
            <tbody>
                <tr ng-repeat="series_group in $ctrl.serieses | toArray:true | orderBy:'min_SeriesNumber'" 
                    ng-init="series_desc = series_group.$key" ng-if="series_group.exams[exam_id]">
                    <td>{{::series_desc}}</td>
                    <td style="padding: 0px;">
                        <div class="text-muted excluded" 
                            ng-if="series_group._isexcluded" 
                            ng-click="series_group._isexcluded = false">Excluded</div>
                        <div class="slide-down"
                            ng-if="!series_group._isexcluded">
                            <div class="studies" style="display: inline-block;" ng-repeat="series in series_group.exams[exam_id]">
                                <div ng-if="!series.deprecated_by">
                                    <!--
                                    <div ng-if="series.isexcluded" class="text-muted excluded" ng-click="series.isexcluded = false">Excluded</div>
                                    <div ng-if="!series.isexcluded" class="slide-down">
                                        <studynote ng-click="$ctrl.openstudy(series._id)" study="series">
                                    </div>
                                    -->
                                    <studynote ng-click="$ctrl.openstudy(series._id)" study="series">
                                </div>
                                <div ng-if="series.deprecated_by" class="studynote" ng-click="$ctrl.openstudy(series._id)">
                                    <span class="text-muted">#{{::series.SeriesNumber}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="padding: 0px;">
                        <div ng-repeat="series in ::series_group.exams[exam_id] | limitTo:1">
                            <div ng-if="series.qc.template_id" class="studynote" 
                                ng-click="$ctrl.opentemplate(series.qc.template_id)">
                                {{::$ctrl.templates[series.qc.template_id].date | date:'short'}}
                                <span class="text-muted">{{::$ctrl.templates[series.qc.template_id].series_desc}}</span>
                                <span class="text-muted">(#{{::$ctrl.templates[series.qc.template_id].SeriesNumber}})</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="(series_desc, templates) in $ctrl.missing[time]">
                    <td class="text-muted">{{::series_desc}}<!-- (#{{template.SeriesNumber}})--></td>
                    <td style="padding: 0px;">
                        <div class="missing clickable" 
                            ng-repeat="template in templates | orderBy:'-SeriesNumber'"
                            ng-click="$ctrl.opentemplate(template._id)">
                            <span class="label label-info">Missing</span> 
                            <span class="text-muted">#{{::template.SeriesNumber}}</span>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</li>
