<div class="modal-header">
    <h3 class="modal-title">ReQC Exam (all series)</h3>
</div>

<div class="modal-body study">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><i class="fa fa-fw fa-user"></i> Subject </div>
                <div class="col-sm-9">
                    {{exam.subject}}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><i class="fa fa-fw fa-calendar"></i> Study Timestamp </div>
                <div class="col-sm-9">
                    {{exam.StudyTimestamp | date:'medium':'-0400'}}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><i class="fa fa-fw fa-file"></i> Template Override</div>
                <div class="col-sm-9">
                    <ui-select class="template-selecter"
                               on-select="select_template($item, $model)"
                               ng-model="$mctrl.overridetemplate">
                        <ui-select-match placeholder="Specify a template or leave it blank to auto select the latest template" allow-clear-dis="true">
                            <div class_dis="studynote">
                                {{$select.selected.StudyTimestamp | date:'medium':'-0400'}} ({{$select.selected.series.length}} series)
                            </div>
                        </ui-select-match>
                        <ui-select-choices repeat="template in templates">
                            {{template.StudyTimestamp | date:'medium':'-0400'}} ({{template.series.length}} series)
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </li>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">ReQC</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
