<div class="btn-group">
    <label
            class="btn btn-xs btn-default active"
            ng-model="$ctrl.deprecated"
            ng-click="$ctrl.toggleView()"
            popover-trigger="mouseenter"
            popover-placement="left"
           popover-dis="Show older series instances deprecated by a more recent exam">
        <i class="fa fa-fw " ng-class="{'fa-eye': $ctrl.deprecated === true, 'fa-eye-slash': $ctrl.deprecated === false, 'fa-ban': $ctrl.deprecated === null}"></i></label>
</div>

