<div class="modal-header">
        <h3 class="modal-title">Deleted Exam details</h3>
    </div>
    
    <div class="modal-body study">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3"><i class="fa fa-fw fa-user"></i> Subject </div>
                    <div class="col-sm-9">
                        {{exam.subject}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3"><i class="fa fa-calendar-check-o"></i> Study Timestamp </div>
                        <div class="col-sm-9">
                            {{exam.StudyTimestamp}}
                        </div>
                    </div>
                </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3"><i class="fa fa-calendar-times-o"></i> Deletion Timestamp </div>
                    <div class="col-sm-9">
                        {{ comment.date | date:'medium':'-0400'}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3"><i class="fa fa-users"></i> User </div>
                        <div class="col-sm-9">
                            {{ user.fullname }}
                        </div>
                    </div>
                </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3"><i class="fa fa-fw fa-file"></i> Reason for deletion</div>
                    <div class="col-sm-9">
                        {{comment.comment}}            
                    </div>
                </div>
            </li>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
    </div>