<div class="btn-group">
    <label class="btn btn-xs btn-default" ng-model="$ctrl.mode" btn-radio="'wide'"  popover-trigger="mouseenter" popover-placement="left" 
        popover-dis="Show all studies for each series"><i class="fa fa-table"></i> Wide</label>
    <label class="btn btn-xs btn-default" ng-model="$ctrl.mode" btn-radio="'tall'" popover-trigger="mouseenter" popover-placement="left" 
        popover-dis="Show each exam in separate list"><i class="fa fa-list-alt"></i> Tall</label>
    <label class="btn btn-xs btn-default" ng-class="{active: $ctrl.deprecated}" ng-model="$ctrl.deprecated" ng-click="$ctrl.deprecated = !$ctrl.deprecated" popover-trigger="mouseenter" popover-placement="left"
           popover-dis="Show older series instances deprecated by a more recent exam"><i class="fa" ng-class="{'fa-eye': $ctrl.deprecated, 'fa-eye-slash': !$ctrl.deprecated}"></i></label>
</div>

