<div class="btn-group pull-right">
    <label class="btn btn-xs btn-default" ng-model="$ctrl.mode" btn-radio="'wide'"  popover-trigger="mouseenter" popover-placement="left" 
        popover-dis="Show all studies for each series"><i class="fa fa-table"></i></label>
    <label class="btn btn-xs btn-default" ng-model="$ctrl.mode" btn-radio="'tall'" popover-trigger="mouseenter" popover-placement="left" 
        popover-dis="Show each exam in separate list"><i class="fa fa-list-alt"></i></label>
</div>

