<!--<sca-menutab fluid="true" menu="appconf.menu" active="'admin'" user="user"></sca-menutab>-->
<div class="container">


    <div class="row">
        <div class="col-sm-12">
            <h3><i class="fa fa-users"></i> Accounts and Access Control</h3>

            <hr>
            <div class="row">


                <uib-tabset ng-if="!show_userform && !show_groupform" active="active_tab">
                    <uib-tab index="0" select="active_tab = 0">
                        <uib-tab-heading>
                            <i class="fa fa-fw fa-user"></i> Users
                        </uib-tab-heading>
                        <button class="btn btn-success pull-right" ng-click="createUser()"><i class="fa fa-fw fa-user-plus"></i> Create User</button>
                        <br>
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Primary Role</th>
                                <th>Roles</th>
                                <th>Created</th>
                                <th>Last Login</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users | orderBy: 'primary_role'">
                                <td class="text-center">
                                    <i class="fa fa-fw " ng-class="{
                                        'fa-user-circle' : user.primary_role == 'user' || user.primary_role == 'guest',
                                        'fa-lock text-danger' : user.primary_role == 'admin',
                                        'fa-flask text-info' : user.primary_role == 'researcher',
                                        'fa-cogs text-success' : user.primary_role == 'technologist'
                                    }"></i>
                                </td>
                                <td>{{user.fullname}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.primary_role}}</td>
                                <td>{{user.roles.join(' | ')}}</td>
                                <td>{{user.createDate | date:'short'}}</td>
                                <td>{{user.lastLogin | date:'short'}}</td>
                                <td>
                                    <i class="fa fa-fw fa-edit text-warning" ng-click="editUser(user)"></i>
                                    <i class="fa fa-fw fa-trash-o text-danger" ng-click="deleteUser(user)"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                    <uib-tab index="1" select="active_tab = 1">
                        <uib-tab-heading>
                            <i class="fa fa-fw fa-users"></i> Groups
                        </uib-tab-heading>
                        <button class="btn btn-success pull-right" ng-click="createGroup()"><i class="fa fa-fw fa-plus-circle"></i> Create Group</button>
                        <br>
                        <table class="table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Members</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="group in groups">
                                    <td>{{group.name}}</td>
                                    <td>{{group.desc}}</td>
                                    <td><small ng-repeat="user in group.members">{{user.fullname}} | </small></td>
                                    <td>
                                        <i class="fa fa-fw fa-edit text-warning" ng-click="editGroup(group)"></i>
                                        <i class="fa fa-fw fa-trash-o text-danger" ng-click="deleteGroup(group)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </ul>
                    </uib-tab>
                    <uib-tab index="2" select="active_tab = 2">
                        <uib-tab-heading>
                            <i class="fa fa-fw fa-unlock-alt"></i> ACL
                        </uib-tab-heading>
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th ng-click="toggle_selectall()">
                                    <i class="text-info fa fa-fw"
                                       ng-class="{'fa-check-square-o': selectall, 'fa-square-o': !selectall}">
                                    </i></th>
                                <th>IIBISID</th>
                                <th width="40%">Can View/Comment</th>
                                <th width="40%">Can QC</th></tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="iibisid in iibisids | filter:research_filter" ng-init="_selected[iibisid] = false;">
                                <td ng-click="_selected[iibisid] = !_selected[iibisid]">
                                    <i class="text-info fa fa-fw"
                                       ng-class="{'fa-check-square-o': _selected[iibisid], 'fa-square-o': !_selected[iibisid]}">
                                    </i>
                                </td>
                                <th>{{iibisid}}</th>
                                <td>
                                    <ui-select multiple ng-model="_acl[iibisid].view.groups">
                                        <ui-select-match placeholder="Select groups who can view this research">
                                            <b>{{$item.name}}</b>
                                            <!--<span ng-repeat="member in $item.Members">{{member.fullname}} | </span>-->
                                            <span class="text-muted">({{$item.members.length}} users)</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="group in groups | propsFilter: {name: $select.search}">
                                            <b>{{group.name}}</b> <span class="text-muted">{{group.desc}}</span>
                                            <!--<span ng-repeat="member in group.Members">{{member.fullname}} | </span>-->
                                            <span class="text-muted">({{group.members.length}} users)</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select multiple ng-model="_acl[iibisid].qc.groups">
                                        <ui-select-match placeholder="Select groups who can QC this research">
                                            <b>{{$item.name}}</b>
                                            <!--<span ng-repeat="member in $item.Members">{{member.fullname}} | </span>-->
                                            <span class="text-muted">({{$item.members.length}} users)</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="group in groups | propsFilter: {name: $select.search}">
                                            <b>{{group.name}}</b> <span class="text-muted">{{group.desc}}</span>
                                            <!--<span ng-repeat="member in group.Members">{{member.fullname}} | </span>-->
                                            <span class="text-muted">({{group.members.length}} users)</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <input class="btn btn-primary pull-right" value="Update Access" ng-click="update_acl();"/>
                        <input class="btn btn-info pull-right" value="ReQC ({{selectedCount()}})" ng-click="reqc()"/>
                    </uib-tab>
                </uib-tabset>

                <div class="row" ng-if="show_userform">
                    <div class="col-sm-10">
                        <form class="form-horizontal" name="user_form">
                            <fieldset>
                                <legend><i class="fa fa-2x fa-user"></i>New/Edit User</legend>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" autocomplete="off" ng-model="userform.username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputFullname" class="col-lg-2 control-label">Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputFullname" placeholder="Full name" autocomplete="off" ng-model="userform.fullname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" autocomplete="off" ng-model="userform.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRoles" class="col-lg-2 control-label">Roles</label>
                                    <div class="col-lg-10">
                                        <ui-select multiple ng-model="userform.roles" required>
                                            <ui-select-match placeholder="Select roles for this user">
                                                <b>{{$item}}</b>
                                            </ui-select-match>
                                            <ui-select-choices repeat="role in user_roles | filter: $select.search">
                                                <b>{{role}}</b>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPrimary" class="col-lg-2 control-label">Primary Role</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="select" ng-model="userform.primary_role">
                                            <option ng-repeat="role in userform.roles">{{role}}</option>
                                        </select>
                                        <span class="help-block">Add roles to user to add primary role options</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="reset" class="btn btn-default" ng-click="hideUserform()">Cancel</button>
                                        <button type="submit" class="btn btn-primary" ng-click="submitUserform(); event.preventDefault();">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="row" ng-if="show_groupform">
                    <div class="col-sm-10">
                        <form class="form-horizontal" name="group_form">
                            <fieldset>
                                <legend><i class="fa fa-2x fa-user"></i>New/Edit Group</legend>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-lg-2 control-label">Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputUsername" placeholder="Name" autocomplete="off" ng-model="groupform.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputFullname" class="col-lg-2 control-label">Description</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputFullname" placeholder="Description" autocomplete="off" ng-model="groupform.desc">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Members</label>
                                    <div class="col-lg-10">
                                        <ui-select multiple ng-model="groupform.members" required>
                                            <ui-select-match placeholder="Select members of this group">
                                                <b>{{$item.fullname}}</b> <span class="email">&lt;{{$item.email}}&gt;</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="user in users | propsFilter: {fullname: $select.search, email: $select.search}">
                                                <b>{{user.fullname}}</b> <small>&lt;{{user.email}}&gt;</small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="reset" class="btn btn-default" ng-click="hideGroupform();">Cancel</button>
                                        <button type="submit" class="btn btn-primary" ng-click="submitGroupform(); event.preventDefault();">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

