<div class="subbar subbarnew">
    <div style="padding: 0px 15px; margin-bottom: 10px">
        <div>
            <h2>{{qc_title}}</h2>
            <p class="help-block" ng-if="search.recentrange != 'all'">Showing {{qc_text}} taken in last {{search.recentrange}} days</p>
            <p class="help-block" ng-if="search.recentrange == 'all'">Showing all {{qc_text}}</p>
        </div>

        <input type="text" class="form-control" ng-model="research_filter" placeholder="Filter" ng-model-options="{debounce: 500}">
        <br>
        <div class="btn-group pull-right" style="left: 0px;top: -5px;">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Date Range</li>
                <li ng-repeat="(range_id, label) in ranges"
                    ng-click="changerange(range_id)">
                    <a href>
                        <i class="fa fa-fw fa-check" ng-if="search.recentrange == range_id"></i>
                        <i class="fa fa-fw" ng-if="search.recentrange !=  range_id"></i> {{label}}</a>
                </li>
                <!--<li><a ng-click="recentrange = 30" href>30 days</a></li>-->
                <!--<li><a ng-click="recentrange = 60" href>60 days</a></li>-->
                <!--<li><a ng-click="recentrange = 90" href>90 days</a></li>-->
                <!--<li><a ng-click="recentrange = 'all'" href>All Time</a></li>-->
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Show/Hide</li>
                <li ng-repeat="(mod_id, settings) in modalities"
                    ng-click="settings.display = !settings.display;">
                    <a href>
                        <i class="fa fa-fw fa-check" ng-show="settings.display"></i>
                        <i class="fa fa-fw fa-square-o" ng-show="!settings.display"></i> {{mod_id}} </a>
                </li>
                <li role="separator" >&nbsp; </li>
                <li ng-click="toggleExamShow()">
                    <a href>
                        <i class="fa fa-fw fa-check" ng-show="showExams"></i>
                        <i class="fa fa-fw fa-square-o" ng-show="!showExams"></i> Exams/Subjects</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Sort Research By</li>
                <li ng-repeat="(sort_id, label) in sortoptions"
                    ng-click="changesort(sort_id)">
                    <a href>
                        <i class="fa fa-fw fa-check" ng-if="search.sort == sort_id"></i>
                        <i class="fa fa-fw" ng-if="search.sort !=  sort_id"></i> {{label}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Sort Subjects By</li>
                <li ng-repeat="(sort_id, label) in subj_sortoptions"
                    ng-click="search.subj_sort = sort_id">
                    <a href>
                        <i class="fa fa-fw fa-check" ng-if="search.subj_sort == sort_id"></i>
                        <i class="fa fa-fw" ng-if="search.subj_sort !=  sort_id"></i> {{label}}</a>
                </li>
                <li role="separator" class="divider"></li>

            </ul>
        </div>
        <span ng-if="loading_series" class="text-muted"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</span>
    </div>
    <div class="subbar-list subbar-listnew" style="margin-top: 59px; bottom: 34px">
        <div ng-repeat="(iibisid, research) in org" ng-show="show_iibis(iibisid, research)">
            <div class="subbar-list-header"><small class="text-muted">{{$index + 1}}. </small> {{iibisid}}</div>
            <div class="subbar-list-item"
                 ng-repeat="modality in research"
                 ng-show="show_modality(iibisid, modality.research.Modality, modality.research.radio_tracer, modality.exams)"
                 ng-init="modality.showme = true"
                 ng-class="{'active': modality == selected_modality}"
                 ng-click="select(modality)">

                <!--modality detail-->
                <h6>
                    {{modality.research.Modality}} / {{modality.research.StationName}}
                    <small ng-show="modality.research.Modality == 'PT'"> / {{modality.research.radio_tracer}}</small> <em>({{modality.exams.length}})</em>
                        <span class="pull-right faded" style="padding: 2px;" ng-click="modality.showme = !modality.showme; $event.stopPropagation()">
                                <i class="fa fa-fw fa-minus-square" ng-show="modality.showme"></i>
                                <i class="fa fa-fw fa-plus-square" ng-hide="modality.showme"></i>
                        </span>
                    <br><br>
                    <div ng-repeat="exam in modality.exams | orderBy:search.subj_sort:reverse"
                         ng-click="select(modality, exam);$event.stopPropagation()"
                         ng-show="modality.showme"
                         class="subject-label" uib-tooltip-html="makeTooltip(exam)" tooltip-append-to-body="true" tooltip-popup-delay='200'>
                        <small style="position: absolute;" ng-class="{'missing_images': exam.qc.total_missing_images}">{{exam.subject}}</small>
                        <div class="progress exam-state pull-right"
                             ng-init="total = exam.qc.series_passed + exam.qc.series_failed + exam.qc.series_passed_warning + exam.qc.series_missing.length + exam.qc.series_no_template.length">
                            <div class="progress-bar progress-bar-success" style="height: 20%; width: {{exam.qc.series_passed / total*100}}%"></div>
                            <div class="progress-bar progress-bar-danger" style="height: 20%; width: {{exam.qc.series_failed / total*100}}%"></div>
                            <div class="progress-bar progress-bar-warning" style="height: 20%; width: {{exam.qc.series_passed_warning / total*100}}%"></div>
                            <div class="progress-bar progress-bar-primary" style="height: 20%; width: {{exam.qc.series_no_template.length / total*100}}%"></div>
                            <div class="progress-bar progress-bar-info" style="height: 20%; width: {{exam.qc.series_missing.length/ total*100}}%"></div>
                        </div>
                    </div>
                </h6>
            </div><!--subbar-list-item-->
        </div><!--ng-repeat-->
        <p class="legend" style="position: fixed; bottom: 0px; width: 275px;">
            <!--<span class="label label-default"></span>-->
            <span class="label label-success">Pass</span>
            <span class="label label-danger">Fail</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-primary">No Templ</span>
            <span class="label label-info">Missing</span>
        </p>
    </div>
</div>
<div class="subbar-content subbar-contentnew">
    <div ng-if="!selected" class="help-block center-parent">
        <span class="center-child text-center" ng-if="!loading_exam">
            <h3><i class="fa fa-8x fa-flask faded"></i> <br>Please select a research to display</h3>
        </span>
        <span class="center-child text-center" ng-if="loading_exam">
            <h3><i class="fa fa-8x fa-circle-o-notch fa-spin"></i> <br>Loading research...</h3>
        </span>
    </div>
    <div ng-if="selected">
        <div class="fixed-top" style="margin-left: 355px;">
            <h2 class="pull-right" style="position: relative; left: -15px;">
                <viewmode-toggler mode="view_mode" deprecated="show_deprecated"></viewmode-toggler>
            </h2>
            <h2> <b>{{selected.IIBISID}}</b>
                <button class="btn btn-xs btn-info" ng-if="can_qc" style="padding: 1px 2px; font-size: 80%;" ng-click="QCalert(selected,'all')" tooltip-placement="right-bottom" uib-tooltip="ReQC all series in all exams in this IIBISID">ReQC all exams</button>

                <button class="btn btn-xs btn-info" ng-if="can_qc" style="padding: 1px 2px; font-size: 80%;" ng-click="QCalert(selected,'failed')" tooltip-placement="right-bottom" uib-tooltip="ReQC all series that have failed QC1 in this IIBISID">ReQC failures</button>
            </h2>
            <h3>
                Modality: <b>{{selected.Modality}}</b>
                StationName: <b>{{selected.StationName}}</b>
                <small ng-show="selected.Modality == 'PT'">
                    RadioTracer: <b>{{selected.radio_tracer}}</b>
                </small>
                <span class="pull-right" style="width: 200px">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-filter"></i></span>
                        <input type="text" class="form-control pull-right input-sm" ng-model="subject_filter" placeholder="Filter by Subject" ng-model-options="{debounce: 500}">
                      </div>
                </span>

                <br>
            </h3>
        </div>
        <div style="margin-top: 100px;">
            <div ng-repeat="subject in selected_subjects | filter:subject_filter"
                 class="subject">
                <h3>
                    <b><i class="fa fa-user fa-fw"></i> {{subject}}</b>
                    <!-- <span class="text-muted">Subject</span> -->
                </h3>
                <div ng-repeat="exam in subject_exams[subject] track by exam._id" id="{{exam._id}}">
                    <exams exam="exam" qc="can_qc" mode="view_mode" templates="selected.templates" template-lookup="selected.template_map" deprecated="show_deprecated"></exams>
                </div>
            </div>
            <div class="template">
                <h4>
                    <b><i class="fa fa-files-o" aria-hidden="true"></i> Templates</b>
                </h4>
                <templates templates="selected.templates"></templates>
            </div>
        </div>
    </div>

    <!--
    <pre style="font-size: 80%;">
        {{selected|json}}
    </pre>
    -->
</div><!--container-->

