
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{active: study.active_tab == 'issues'}"><a href="" role="tab" data-toggle="tab" ng-click="study.active_tab = 'issues';">Issues</a></li>
    <li role="presentation" ng-class="{active: study.active_tab == 'headers'}"><a href="" role="tab" data-toggle="tab" ng-click="study.active_tab = 'headers';">Headers</a></li>
</ul>
<br>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" ng-class="{active: study.active_tab == 'issues'}">
        <p>Instance: {{study.active_image.headers.InstanceNumber}} | <small>
            <span>SOPInstanceUID: {{study.active_image.SOPInstanceUID}}</span>
        </small></p>
        <p ng-if="!study.active_image.qc" class="text-muted">Not QC-ed yet</p>
        <p ng-if="study.active_image.qc.errors.length == 0 && study.active_image.qc.warnings.length == 0" class="text-muted">No issues detected</p>
        <p class="pull-right">QC Date: <time>{{study.active_image.qc.date | date: 'medium'}}</time></p>
        <div ng-if="study.active_image.qc.errors.length > 0">
            <h5>Errors</h5>
            <ul class="qc-errors">
                <li ng-repeat="error in study.active_image.qc.errors">{{error}}</li>
            </ul>
        </div>
        <div ng-if="study.active_image.qc.warnings.length > 0">
            <h5>Warnings</h5>
            <ul class="qc-errors">
                <li ng-repeat="warning in study.active_image.qc.warnings">{{warning}}</li>
            </ul>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" ng-class="{active: study.active_tab == 'headers'}">
        <!--<p>Template Used: {{series.templates[study.active_image.qc.template_id]}}</p>-->
        <p>Template Date: {{series.templates[study.active_image.qc.template_id].date | date:'medium'}}</p>
        <div class="headers">
            <table>
                <thead>
                    <tr><th>Field</th><th>Image Value</th><th ng-if="study.active_image.qc">Template Value</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k,v) in study.active_image.headers">
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                        <td ng-if="study.active_image.qc">{{study.active_image.template.headers[k]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

