<div class="container">
    <h1>QC Reports</h1>
    <div ng-repeat="study in studies | orderBy:'-date'">
        <h3>{{study._mtime | date:'medium'}}</h3>
        <span class="pull-right">Study Desc: {{study.study_desc}}</span>
        <p>StudyID: {{study.studyid}}</p>
        <div ng-repeat="(seriesid, series) in study.serieses">
            <!--
            <p class="pull-left" style="margin: 0px; margin-right: 10px; color: green;" ng-show="series.error_count == 0 && series.warning_count == 0">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </p>
            -->
            <h4>        
                <!--<a href="#/series/{{result.date}}/{{studyid}}/{{seriesid}}">{{series.series_desc}}</a>-->
                <a href="{{series._kibana_url}}" target="_blank">{{series.series_desc}}</a>
                <small>
                    SeriesID: {{seriesid}} | {{series._instance_count}} Instances |
                    <span ng-class="{'errorcount': series._inst_error_count != 0}">{{series._inst_error_count}} Errors</span>
                    |
                    <span ng-class="{'warningcount': series._inst_warning_count != 0}">{{series._inst_warning_count}} Warnings</span>
                </small>
            </h4>
            <div ng-repeat="(instid, instance) in series.instances" class="instance" 
                ng-class="{
                    'instance_error': instance.errors.length != 0, 
                    'instance_warning': instance.warnings.length != 0,
                    'instance_active': instid == active_instid != 0
                }" 
                title="{{instid}}" ng-click="load_instance(study.studyid, seriesid, instid)">
            </div>
            <div ng-show="show_seriesid == seriesid" class="instance-detail">
                <b>SOPInstanceUID: {{active_instid}}</b>
                <p ng-repeat="error in instance_detail.errors" class="alert alert-danger">
                    <span class="sr-only">Error:</span> 
                    <b>{{error.type}}</b> {{error.message}}
                    <!--
                    <blockquote>
                        <b>Field:{{error.field}}</b> = <b>Value:{{error.value}}</b>
                    </blockquote>
                    -->
                </p>
                <p ng-repeat="warning in instance_detail.warnings" class="alert alert-warning">
                    <span class="sr-only">Warning:</span> 
                    <span class="tag">{{warning.type}}</span> {{warning.message}}
                    <!--
                    <blockquote>
                        <b>Field:{{error.field}}</b> = <b>Value:{{error.value}}</b>
                    </blockquote>
                    -->
                </p>
                <p class="text-muted" ng-show="instance_detail.errors.length == 0 && instance_detail.warnings.length == 0">No issues found</p>
            </div>
            <!--
            <div ng-repeat="(instid, errors) in series.errors" class="alert alert-danger" role="alert">
                <h4>SOPInstanceUID: {{instid}}</h4>
                <p ng-repeat="error in errors">
                    <span class="sr-only">Error:</span> 
                    <b>{{error.type}}</b> {{error.message}}
                    <blockquote>
                        <b>Field:{{error.field}}</b> = <b>Value:{{error.value}}</b>
                    </blockquote>
                </p>
            </div>
            <div ng-repeat="(instid, warnings) in series.warnings" class="alert alert-warning" role="alert">
                <h4>SOPInstanceUID: {{instid}}</h4>
                <p ng-repeat="warning in warnings">
                    <span class="sr-only">Warning:</span> 
                    <b>{{warning.type}}</b> {{warning.message}}
                    <blockquote>
                        <b>Field:{{error.field}}</b> = <b>Value:{{error.value}}</b>
                    </blockquote>
                </p>
            </div>
            -->
        </div><!--series repeat-->
    </div><!--result repeat-->

    <br>
    <button class="btn btn-block btn-lg" ng-click="loadresults(5)" ng-show="!loading">Show Older Results</button>
    <p ng-show="loading">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;&nbsp;Loading...
    </p>
    <br>
</div>

