<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3><i class="fa fa-cog"></i> Profile and Settings</h3>

            <div class="row">
                <div class="col-sm-10">
                    <form class="form-horizontal" name="user_form">
                        <fieldset>
                            <div class="well">
                            <div class="form-group">
                                <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" autocomplete="off" ng-model="self.username" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFullname" class="col-lg-2 control-label">Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputFullname" placeholder="Full name" autocomplete="off" ng-model="self.fullname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" autocomplete="off" ng-model="self.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-lg-2 control-label">Roles</label>
                                <div class="col-lg-10">
                                    <ui-select multiple id="inputRoles" ng-model="self.roles" required ng-disabled="true">
                                        <ui-select-match placeholder="Select roles for this user">
                                            <b>{{$item}}</b>
                                        </ui-select-match>
                                        <ui-select-choices repeat="role in user_roles | filter: $select.search">
                                            <b>{{role}}</b>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPrimary" class="col-lg-2 control-label">Primary Role</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="inputPrimary" ng-model="self.primary_role">
                                        <option ng-repeat="role in self.roles">{{role}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gravtar" class="col-lg-2 control-label">Gravatar</label>
                                <div class="col-lg-10">
                                    <img gravatar-src="self.email" gravatar-size="90" align="left" style="padding-right: 20px;"/>
                                    <br>
                                    <p> Your avatar is handled by <a target="_blank" href="http://gravatar.com">gravatar.com</a> using your account email address.</p>
                                    <span class="text-muted">{{self.email}}</span>
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary" ng-click="submitUserform(); event.preventDefault();" ng-disabled="user_form.$pristine">Update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
