<sca-menutab fluid="true" menu="appconf.menu" active="page" user="user"></sca-menutab>
<div class="container-fluid research">
    <p class="text-muted" ng-if="series_count == 0">No series needing QC!</p>
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="research_filter" placeholder="Filter"></input>
            <div ng-repeat="(iibisid, research) in org" ng-if="show_iibis(iibisid, research)">
                <h5>{{::iibisid}}</h5>
                <div class="list-group">
                    <div class="list-group-item clickable" 
                        style="padding: 7px 10px;" 
                        ng-repeat="(modality_id, modality) in research" 
                        ng-click="scrollto(modality_id)"
                        ng-class="{inview: inview_id == modality_id}"
                        ng-if="show_modality(iibisid, modality_id, modality)">
                        <h5 style="margin-top: 0px;">
                            {{::modality._detail.Modality}} / {{::modality._detail.StationName}} 
                            <small ng-if="modality._detail.Modality == 'PT'"> / {{::modality._detail.radio_tracer}} </small>
                        </h5>
                        <span class="text-muted" ng-repeat="(subject_desc, subject) in modality.subjects" 
                            ng-if="show_subject(iibisid, modality_id, subject_desc)"> 
                            {{::subject_desc}}
                        </span>
                    </div><!--list-group-item-->
                </div><!--list-group-->
            </div><!--ng-repeat-->
        </div>

        <div class="col-md-9">
            <viewmode-toggler mode="view_mode"></viewmode-toggler> 
            <div ng-repeat="(iibisid, research) in org" ng-if="show_iibis(iibisid, research)">
                <h2>{{iibisid}}</h2>
                <div ng-repeat="(modality_id, modality) in research" ng-if="show_modality(iibisid, modality_id, modality)" id="{{modality_id}}">
                    <h3>
                        Modality: <b>{{modality._detail.Modality}}</b> 
                        StationName: <b>{{modality._detail.StationName}}</b>
                        <small ng-if="modality._detail.Modality == 'PT'">
                            RadioTracer: <b>{{modality._detail.radio_tracer}}</b>
                        </small>
                        <small>
                            <a href="#/research/{{modality._detail._id}}"><i class="fa fa-link"></i></a>
                        </small>
                    </h3>
                    <ul class="list-group" style="margin-bottom: 10px;border-bottom: 1px solid #ccc">
                        <div ng-repeat="(subject, subject_detail) in modality.subjects" id="{{subject_detail.uid}}" class="subject"
                            ng-if="show_subject(iibisid, modality_id, subject)">
                            <li class="list-group-item subject-body">
                                <span class="text-muted">Subject:</span> {{subject}}
                            </li>
                            <exams
                                examid="subject_detail.exam_id"
                                researchid="modality._detail._id" 
                                subject="subject"
                                serieses="subject_detail.serieses" 
                                missing-dis="subject_detail.missing_serieses" 
                                times="modality.subjects_times[subject]" 
                                templates="templates"
                                mode="view_mode"></exams>
                        </div><!--ng-repeat in subjects -->
                    </ul>
                </div><!--ng-repeast in researches -->
            </div><!--ng-repeast in iibisids-->
            <p class="alert alert-warning" ng-if="series_count == query_limit">Too many results. Only displaying the most recent {{query_limit}} series</p>
        </div><!--col-md-8-->
    </div><!--row-->
</div><!--container-->

