<div class="subbar">
    <div style="padding: 0px 15px; margin-bottom: 10px">
        <div ng-if="$parent.active_menu == 'qcrecent'">
            <h2>Recent Exams</h2>
            <p class="help-block">Showing all recent exams and status</p>
        </div>
        <div ng-if="$parent.active_menu == 'qc1'">
            <h2>QC1</h2>
            <p class="help-block">Showing exams pending protocol QC</p>
        </div>
        <div ng-if="$parent.active_menu == 'qc2'">
            <h2>QC2</h2>
            <p class="help-block">Showing exams pending image QC</p>
        </div>

        <input type="text" class="form-control" ng-model="research_filter" placeholder="Filter">
        <br>
        <div class="btn-group pull-right" style="left: 0px;top: -5px;">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Display <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="(mod_id, settings) in modalities"
                    ng-click="settings.display = !settings.display;">
                    <a href>
                    <i class="fa fa-fw fa-check" ng-show="settings.display"></i>
                    <i class="fa fa-fw fa-square-o" ng-show="!settings.display"></i> {{mod_id}}</a>
                </li>
            <!--<li><a href>Project ABC</a></li>-->
            <!--<li><a href>Project DEF</a></li>-->
            <!--<li><a href>Project AAA</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href>Separated link</a></li>-->
            </ul>
        </div>
        <span ng-if="loading_series" class="text-muted"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</span>
        <span ng-if="!loading_series" class="text-muted">{{ecount}} scans in {{org | objLength}} IIBISIDs</span>
    </div>
    <hr style="margin: 0px;">
    <div class="subbar-list" style="margin-top: 59px; bottom: 34px">
        <div ng-repeat="(iibisid, research) in org" ng-show="show_iibis(iibisid, research)">
            <div class="subbar-list-header">{{$index + 1}}. {{iibisid}} - ({{research | objLength}})</div>
            <div class="subbar-list-item" 
                ng-repeat="(modality_id, modality) in research" 
                ng-class="{'active': modality == selected}"
                ng-click="select(modality)"
                ng-show="show_modality(iibisid, modality_id, modality)">

                <!--modality detail-->
                <div class="subbar-list-item-header">
                    {{modality._detail.Modality}} / {{modality._detail.StationName}} 
                    <small ng-show="modality._detail.Modality == 'PT'"> / {{modality._detail.radio_tracer}} </small>
                </div>
                <div ng-repeat="(subject_desc, subject) in modality.subjects" 
                    ng-click="select(modality, subject.uid);$event.stopPropagation()"
                    class="subject-label" 
                    ng-show="show_subject(iibisid, modality_id, subject_desc)"
                    ng-init="moreOne('ecount')" >
                    <!--subject_desc is not unique across all iibisid / modality..-->
                    <small style="position: absolute;">{{subject_desc}}</small>
                    <div class="progress exam-state pull-right"
                        ng-init="total = subject.non_qced+subject.oks+subject.errors+subject.warnings+subject.notemps+subject.missing">
                        <div class="progress-bar progress-bar-success" style="width: {{subject.oks / total*100}}%"></div>
                        <div class="progress-bar progress-bar-danger" style="width: {{subject.errors / total*100}}%"></div>
                        <div class="progress-bar progress-bar-warning" style="width: {{subject.warnings / total*100}}%"></div>
                        <div class="progress-bar progress-bar-primary" style="width: {{subject.notemps / total*100}}%"></div>
                        <div class="progress-bar progress-bar-info" style="width: {{subject.missing/ total*100}}%"></div>
                    </div>
                </div><!--ng-repeat/subjects-->
            </div><!--subbar-list-item-->
        </div><!--ng-repeat-->
    </div>
    <p class="legend" style="position: fixed; bottom: 0px; width: 350px;">
        <!--<span class="label label-default"></span>-->
        <span class="label label-success">OK</span>
        <span class="label label-danger">Error</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-primary">No Templ</span>
        <span class="label label-info">Missing</span>
    </p>
</div>
<div class="subbar-content">
    <h3 ng-show="!selected" class="help-block">Please select a research to display</h3>
    <div ng-show="selected">
        <div class="fixed-top" style="margin-left: 430px;">
            <h2 class="pull-right" style="position: relative; left: -15px;">
                <viewmode-toggler mode="view_mode" deprecated="show_deprecated"></viewmode-toggler>
            </h2>
            <h2> <b>{{selected._detail.IIBISID}}</b> </h2>
            <h3>
                Modality: <b>{{selected._detail.Modality}}</b> 
                StationName: <b>{{selected._detail.StationName}}</b>
                <small ng-show="selected._detail.Modality == 'PT'">
                    RadioTracer: <b>{{selected._detail.radio_tracer}}</b>
                </small>
            </h3>
        </div>
        <div style="margin-top: 65px;">
            <div ng-repeat="(subject, subject_detail) in selected.subjects" class="subject" id="{{subject_detail.uid}}">
                <h4>
                    <b>{{subject}}</b>
                    <!-- <span class="text-muted">Subject</span> -->
                </h4>
                <exams subject="subject" modality="selected" mode="view_mode" deprecated="show_deprecated"></exams>
            </div>
            <div class="template">
                <h4>
                    <b>Templates</b>
                </h4>
                <templates templates="selected.templates" times="selected.templates_times"></templates>
            </div> 
        </div>
    </div>

    <!--
    <pre style="font-size: 80%;">
        {{selected|json}}
    </pre>
    -->
</div><!--container-->

