<style>
    .input-sm {
        height: 18px !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3><i class="fa fa-key"></i> QC Keyword Management</h3>
            <button class="btn btn-success btn-sm pull-right" ng-click="openAdd()"><i class="fa fa-plus-circle"></i> Add new keyword</button>
            <button class="btn btn-warning btn-sm pull-right" ng-click="updateKeys()"><i class="fa fa-upload"></i> Submit changes</button>
            <hr>
            <div class="row" ng-repeat="mod in modalities">
                <h4>{{mod | uppercase}}</h4>
                <table class="table table-bordered">
                    <thead>
                    <th>keyword</th>
                    <th>Skip?</th>
                    <th>QC Method</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ck in keys" ng-if="ck.modality === mod">
                        <td>{{ck.key}}</td>
                        <td><input type="checkbox" class="form-input input-sm" ng-model="ck.skip" /></td>
                        <td>
                            <select class="form-control input-sm" ng-model="ck.custom" ng-options="(item?'Custom':'Default') for item in [true, false]"></select>
                        </td>
                        <td>{{ck.updatedAt | date:'medium'}}</td>
                        <td><i class="fa fa-trash-o text-danger" ng-click="deleteKey(ck._id)"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
