<sca-menutab menu="appconf.menu" active="'recent'" user="user"></sca-menutab>
<div class="container-fluid recent">
    <p ng-if="!researches"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</p>
    <p ng-if="study_count == 0" class="text-muted">You don't have access to any IIBISIDs that has received data recently. Please contact your administrator for more info.</p>
    <div class="row">
        <div class="col-md-4" id="affix" ng-class="{affix: content_affix, affix_bottom: content_affix_bottom}">
            <div ng-repeat="(iibisid, research) in researches">
                <h4>{{iibisid}}</h4>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="(modality_id, modality) in research">
                        <h4 class="list-group-item-heading">
                            {{modality._detail.Modality}} / {{modality._detail.StationName}} <small ng-if="modality._detail.Modality == 'PT'"> / {{modality._detail.radio_tracer}} </small>
                        </h4>
                        <p class="list-group-item-text">
                            <ol class="subjects">
                                <li ng-repeat="(subject_desc, subject) in modality.subjects" 
                                    ng-click="scrollto(subject.uid)"
                                    ng-class="{inview: inview_id == subject.uid}"> 
                                    <!--subject_desc is not unique across all iibisid / modality..-->
                                    <a href="javascript:void(0)">
                                        {{subject_desc}} &nbsp;
                                        <span ng-if="subject.oks != 0" class="label label-success">{{subject.oks}} OKs</span>
                                        <span ng-if="subject.errors != 0" class="label label-danger">{{subject.errors}} Errors</span>
                                        <span ng-if="subject.warnings != 0" class="label label-warning">{{subject.warnings}} Warnings</span>
                                        <span ng-if="subject.notemps != 0" class="label label-primary">{{subject.notemps}} NoTemps</span>
                                        <span ng-if="subject.non_qced != 0" class="label label-info" ng-if="!study.qc">{{subject.non_qced}} Not Yet QCed</span>
                                        <span ng-if="subject.missing_series.length != 0" class="label label-info">{{subject.missing_series.length}} Missing</span>
                                    </a>
                                </li>
                                <li ng-click="scrollto(iibisid+modality_id)"
                                    ng-class="{inview: inview_id == iibisid+modality_id}" class="template-link"> 
                                    <a href="javascript:void(0)">
                                        <!--<span class="label label-default">OK</span>-->
                                        Templates
                                    </a>
                                </li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div><!--ng-repeat-->
        </div> <!--col-md-3-->

        <div class="col-md-8" ng-class="{'col-md-offset-4': content_affix}">
            <viewmode-toggler mode="view_mode"></viewmode-toggler> 
            <div ng-repeat="(iibisid, research) in researches">
                <h2>{{iibisid}}</h2>
                <div ng-repeat="(modality_id, modality) in research">
                    <h3>
                        Modality: <b>{{modality._detail.Modality}}</b> 
                        StationName: <b>{{modality._detail.StationName}}</b>
                        <small ng-if="modality._detail.Modality == 'PT'">
                            RadioTracer: <b>{{modality._detail.radio_tracer}}</b>
                        </small>
                    </h3>
                    
                    <ul class="list-group">
                        <div ng-repeat="(subject, subject_detail) in modality.subjects" id="{{subject_detail.uid}}" class="subject"> 
                            <li class="list-group-item subject-body">
                                <span class="text-muted">Subject</span> {{subject}}
                            </li>
                            <subject-detail 
                                serieses="subject_detail.serieses" 
                                missing="subject_detail.missing_serieses" 
                                times="modality.subjects_times[subject]" mode="view_mode"></subject-detail>
                            <!--
                            <li class="list-group-item list-group-item-subject">
                                <table class="table table-condensed" style="margin-bottom: 0px;">
                                    <thead><tr><th width="30%">Series Description</th><th>Studies (Series Number)</th></tr></thead>
                                    <tbody>                     
                                        <tr ng-repeat="series in subject.missing_series">
                                            <td>{{series.series_desc}}</td>
                                            <td style="padding: 1px 5px;">
                                                <ul class="templates">
                                                    <li ng-repeat="(template_id, template) in series.templates" ng-click="opentemplate(template_id)">
                                                        <span class="label label-info">Missing</span> 
                                                        {{template.date | date:'medium'}} 
                                                        <span class="text-muted">(Template #{{template.SeriesNumber}})</span>
                                                    </li> 
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            -->
                        </div>

                        <div id="{{iibisid+modality_id}}" class="template">
                            <li class="list-group-item template-head">Templates</li>
                            <templates templates="modality.templates" times="modality.templates_times"></templates>
                        </div> 
                    </ul>
                    
                </div><!--modality-->
            </div><!--research-iibisid-->
        </div><!--col-md-9-->

    </div><!--row-->
</div>

