<sca-menubar menu="menu.top" active="'dicom'" profile="menu._profile"></sca-menubar>
<sca-menutab menu="serverconf.menu" active="'recent'"></sca-menutab>
<div class="container-fluid">
    <!--
    <label>Research</label> {{selected_research}}
    <select ng-model="selected_research" class="form-control">
        <option value="">(Show All)</option>
        <option ng-repeat="research in researches" value="{{research._id}}">
            IIBISID:{{research.IIBISID}} 
            Modality:{{research.Modality}} 
            Radiopharmaceutical:{{research.Radiopharmaceutical}} 
            StationName:{{research.StationName}} 
        </option>
    </select>
    -->
    <div class="row">
        <div class="col-md-9">
            <div ng-repeat="(iibisid, research) in researches">
                <h2>IIBISID: {{iibisid}}</h2>
                <div ng-repeat="(modality_id, modality) in research.modalities">
                    <h3>
                        Modality: <b>{{modality._detail.Modality}}</b> 
                        StationName: <b>{{modality._detail.StationName}}</b>
                        Radiopharmaceutical: <b>{{modality._detail.Radiopharmaceutical}}</b>
                    </h3>
                    
                    <div id="{{subject_id}}" class="panel panel-default" ng-repeat="(subject_id, subject) in modality.subjects"> 
                        <div class="panel-heading"><span class="text-muted">Subject</span> {{subject_id}}</div>
                        <div class="panel-body">
                            <table class="table table-condensed" style="margin-bottom: 0px;">
                                <thead><tr><th width="30%">Series Description</th><th>Studies</th></tr></thead>
                                <tbody>                     
                                    <tr ng-repeat="(series_id, series) in subject.serieses">
                                        <td>{{series._detail.series_desc}}</td>
                                        <td>
                                            <ul class="studies">
                                                <li ng-repeat="(study_id, study) in series.studies" ng-click="openstudy(study_id)">
                                                    <span class="label label-info" ng-if="!study.qc">Not Yet QCed</span>
                                                    <span class="label label-danger" ng-if="study.qc.errors.length > 0">Errors: {{study.qc.errors.length}}</span>
                                                    <span class="label label-warning" ng-if="study.qc.warnings.length > 0">Warnings: {{study.qc.warnings.length}}</span>
                                                    <span class="label label-success" ng-if="study.qc.warnings.length == 0 && study.qc.errors.length == 0">OK</span>
                                                    <time>{{study.StudyTimestamp | date:'medium' }}</time> <span class="text-muted">(SeriesNumber: {{study.SeriesNumber}})</span>
                                                </li> 
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div id="{{modality_id}}" class="panel-heading">Templates</div>
                        <div class="panel-body">
                            <table class="table table-condensed" style="margin-bottom: 0px;">
                                <thead><tr><th width="30%">Series Description</th><th>Templates</th></tr></thead>
                                <tbody>                     
                                    <tr ng-repeat="(series_id, series) in modality.template.serieses">
                                        <td>{{series._detail.series_desc}}</td>
                                        <td>
                                            <ul class="templates">
                                                <li ng-repeat="(template_id, template) in series.templates">
                                                    {{template.date | date:'medium'}} <span class="text-muted">(SeriesNumber: {{template.SeriesNumber}})</span>
                                                </li> 
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    
                </div><!--modality-->
            </div><!--research-iibisid-->
        </div><!--col-md-9-->
        <div class="col-md-3">
            <div ng-repeat="(iibisid, research) in researches">
                <h4>IIBISID: {{iibisid}}</h4>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="(modality_id, modality) in research.modalities">
                        <h4 class="list-group-item-heading">
                            {{modality._detail.Modality}} / {{modality._detail.StationName}}
                            <!-- Radiopharmaceutical: <b>{{modality._detail.Radiopharmaceutical}}</b>-->
                        </h4>
                        <p class="list-group-item-text">
                            <ol class="subjects">
                                <li ng-repeat="(subject_id, subject) in modality.subjects"> 
                                    <!--subject_id is not unique across all iibisid / modality..-->
                                    <a href="javascript:void(0)" ng-click="scrollto(subject_id)">{{subject_id}}</a>
                                </li>
                                <li><a href="javascript:void(0)" ng-click="scrollto(modality_id)">Template</a></li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div><!--row-->
</div>

<script>
$('#myAffix').affix({
  offset: 15
})
</script>
