<sca-menutab menu="appconf.menu" active="'recent'" user="user"></sca-menutab>
<div class="container-fluid recent">
    <div class="row">
        <div class="col-md-3" id="affix" ng-class="{affix: content_affix, affix_bottom: content_affix_bottom}">
            <p ng-if="!iibisids"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</p>
            <div ng-repeat="(iibisid, research) in iibisids">
                <h4>IIBISID: {{iibisid}}</h4>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="(modality_id, modality) in research.modalities">
                        <h4 class="list-group-item-heading">
                            {{modality._detail.Modality}} / {{modality._detail.StationName}} <small ng-if="modality._detail.Modality == 'PT'"> / {{modality._detail.radio_tracer}} </small>
                        </h4>
                        <p class="list-group-item-text">
                            <ol class="subjects">
                                <li ng-repeat="(subject_desc, subject) in modality.subjects" 
                                    ng-click="scrollto(subject.uid)"
                                    ng-class="{inview: inview_id == subject.uid}"> 
                                    <!--subject_desc is not unique across all iibisid / modality..-->
                                    <a href="javascript:void(0)">
                                        {{subject_desc}} &nbsp;
                                        <span ng-if="subject.oks != 0" class="label label-success">{{subject.oks}} OKs</span>
                                        <span ng-if="subject.errors != 0" class="label label-danger">{{subject.errors}} Errors</span>
                                        <span ng-if="subject.warnings != 0" class="label label-warning">{{subject.warnings}} Warnings</span>
                                        <span ng-if="subject.notemps != 0" class="label label-primary">{{subject.notemps}} NoTemps</span>
                                        <span ng-if="subject.non_qced != 0" class="label label-info" ng-if="!study.qc">{{subject.non_qced}} Not Yet QCed</span>
                                        <span ng-if="subject.missing_series.length != 0" class="label label-info">{{subject.missing_series.length}} Missing</span>
                                    </a>
                                </li>
                                <li ng-click="scrollto(iibisid+modality_id)"
                                    ng-class="{inview: inview_id == iibisid+modality_id}" class="template-link"> 
                                    <a href="javascript:void(0)">
                                        <!--<span class="label label-default">OK</span>-->
                                        Templates
                                    </a>
                                </li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div><!--ng-repeat-->
        </div> <!--col-md-3-->

        <div class="col-md-9" ng-class="{'col-md-offset-3': content_affix}">
            <div ng-repeat="(iibisid, research) in iibisids">
                <h2>IIBISID: {{iibisid}}</h2>
                <div ng-repeat="(modality_id, modality) in research.modalities">
                    <h3>
                        Modality: <b>{{modality._detail.Modality}}</b> 
                        StationName: <b>{{modality._detail.StationName}}</b>
                        <small ng-if="modality._detail.Modality == 'PT'">
                            RadioTracer: <b>{{modality._detail.radio_tracer}}</b>
                        </small>
                        <!--
                        <button type="button" class="btn btn-xs pull-right" style="position: relative; top: -6px" ng-click="reqc(modality._detail._id)">Rerun QC</button>
                        -->
                    </h3>
                    
                    <ul class="list-group">
                        <div ng-repeat="(subject_desc, subject) in modality.subjects" id="{{subject.uid}}" class="subject"> 
                            <li class="list-group-item subject-body">
                                <span class="text-muted">Subject</span> {{subject_desc}}
                            </li>
                            <li class="list-group-item list-group-item-subject">
                                <table class="table table-condensed" style="margin-bottom: 0px;">
                                    <thead><tr><th width="30%">Series Description</th><th>Studies (Series Number)</th></tr></thead>
                                    <tbody>                     
                                        <tr ng-repeat="series in subject.serieses">
                                            <td>{{series.series_desc}}</td>
                                            <td style="padding: 1px 5px;">
                                                <div class="studies">
                                                    <div ng-if="series._excluded" class="text-muted excluded" ng-click="series._excluded = false">Excluded</div>
                                                    <div ng-if="!series._excluded" class="slide-down">
                                                        <studynote ng-repeat="(study_id, study) in series.studies" ng-click="openstudy(study_id)" study="study">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                
                                        <!-- missing series -->
                                        <tr ng-repeat="series in subject.missing_series">
                                            <td>{{series.series_desc}}</td>
                                            <td style="padding: 1px 5px;">
                                                <ul class="templates">
                                                    <li ng-repeat="(template_id, template) in series.templates" ng-click="opentemplate(template_id)">
                                                        <span class="label label-info">Missing</span> 
                                                        {{template.date | date:'medium'}} 
                                                        <span class="text-muted">(Template #{{template.SeriesNumber}})</span>
                                                    </li> 
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </div>

                        <div id="{{iibisid+modality_id}}" class="template">
                            <li class="list-group-item template-head">Templates</li>
                            <li class="list-group-item template-body">
                                <table class="table table-condensed" style="margin-bottom: 0px;">
                                    <thead><tr><th width="30%">Series Description</th><th>Templates</th></tr></thead>
                                    <tbody>                     
                                        <tr ng-repeat="series in modality.template.serieses">
                                            <td>{{series.series_desc}}</td>
                                            <td style="padding: 1px 5px;">
                                                <ul class="templates">
                                                    <li ng-repeat="(template_id, template) in series.templates" ng-click="opentemplate(template_id)">
                                                        {{template.date | date:'medium'}} <span class="text-muted">(#{{template.SeriesNumber}})</span>
                                                    </li> 
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </div> 
                    </ul>
                    
                </div><!--modality-->
            </div><!--research-iibisid-->
        </div><!--col-md-9-->

    </div><!--row-->
</div>

