<sca-menutab menu="appconf.menu" active="'research'" user="user"></sca-menutab>
<div class="container-fluid research">
    <div class="row">
        <div class="col-md-4">
            <div ng-repeat="(iibisid, recs) in researches">
                <h4>{{iibisid}}</h4>
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="rec in recs" href="#/research/{{rec._id}}" ng-class="{active: rec._id == research_id}">
                        <span>Modality: <b>{{rec.Modality}}</b></span>
                        <span>StationName: <b>{{rec.StationName}}</b></span>
                        <span ng-if="rec.radio_tracer">RadioTracer: <b>{{rec.radio_tracer}}</b></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!--<p class="text-muted" ng-if="!serieses">No series</p>-->
            <p class="help-block">This page shows all studies ever received (TODO - allow user to filter by date range and add search?)</p>
            <p class="text-muted" ng-if="study_count == 0">No exam on this IIBISID</p>
            <ul class="list-group">
                <div ng-repeat="(subject, series_descs) in subjects">
                    <li class="list-group-item" style="background-color: #eee;">
                        <span class="text-muted">Subject:</span> {{subject}}
                    </li>
                    <li class="list-group-item list-group-item-subject">
                        <table class="table table-condensed" style="margin-bottom: 0px;">
                        <thead><tr><th class="text-muted" width="30%">Series Description</th>
                            <th ng-repeat="time in subjects_times[subject]">{{time|date:'medium'}}</th>
                        </tr></thead>
                        <tbody>
                            <tr ng-repeat="(series_desc, times) in series_descs">
                                <td>{{series_desc}}</td>
                                <td ng-repeat="(time, study) in times" style="padding: 0px;">
                                    <studynote ng-click="openstudy(study._id)" study="study">
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </li>
                </div><!--ng-repeat in subjects -->
                <li class="list-group-item" style="background-color: #ccc;">Templates</li>
                <li class="list-group-item" style="background-color: #f6f6f6;">
                    <p class="text-muted" ng-if="templates_times.length == 0">No templates received</p>
                    <table class="table table-condensed" style="margin-bottom: 0px;" ng-if="templates_times.length > 0">
                        <thead><tr><th class="text-muted" width="30%">Series Description</th>
                            <th ng-repeat="time in templates_times">{{time|date:'medium'}}</th>
                        </tr></thead>
                        <tbody>
                            <tr ng-repeat="(desc, times) in templates">
                                <td>{{desc}}</td>
                                <td ng-repeat="(time, template) in times" ng-click="opentemplate(template._id)">
                                    <span class="label label-default">#{{template.SeriesNumber}}</span>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div><!--col-md-8-->
    </div><!--row-->
</div><!--container-->

