<!--<sca-menutab fluid="true" menu="appconf.menu" active="'research'" user="user"></sca-menutab>-->
<div class="container-fluid study" ng-class="{'study-accepted': data.series.qc1_state == 'accepted'}">
    <div class="row-fluid">
        <div class="col-md-8">
            <p class="alert alert-warning" ng-if="data.canqc == false">You don't have QC access for this IIBISID.</p>
            <h3>                
                IIBISID:  <b>{{data.series.exam_id.research_id.IIBISID}}</b>&nbsp;&nbsp;
                Modality: <b>{{data.series.exam_id.research_id.Modality}}</b>&nbsp;&nbsp;
                StationName: <b>{{data.series.exam_id.research_id.StationName}}</b>
                <p>
                    <small ng-show="data.series.exam_id.research_id.Modality == 'PT'">
                        RadioTracer: <b>{{data.series.exam_id.research_id.radio_tracer}}</b>
                    </small>
                </p>
            </h3>
            <ul class="list-group">
                <li class="list-group-item" style="background-color: rgb(141, 184, 185);">
                    <div class="row">
                        <h4>
                            <div class="col-sm-2"><b>Subject</b></div> 
                            <div class="col-sm-10"><b>{{data.series.exam_id.subject}}</b></div>
                        </h4>
                    </div>
                </li>
                <li class="list-group-item" style="background-color: #eee;">
                    <div class="row">
                        <div class="col-sm-2" style="margin-top: 5px;"><b>Series Description</b></div>
                        <div class="col-sm-10">
                                {{data.series.series_desc}}
                            <studynote study="data.series" ng-if="data.series"></studynote> 
                            <button  type="button" class="btn btn-xs pull-right" ng-click="QCalert()" ng-disabled="!data.canqc">ReQC</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Study Timestamp</div>
                        <div class="col-sm-10">{{data.series.exam_id.StudyTimestamp|date:'medium':'-0400'}} <small>(EST)</small></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Comments</div>
                        <div class="col-sm-10 comments">
                            <div class="comment" ng-repeat="comment in data.series.comments" ng-init="user = users[comment.user_id]">
                                <div class="row">
                                    <div class="col-md-1"><img gravatar-src="user.email" gravatar-size="30"></img></div>
                                    <div class="col-md-11" style="position: relative; top: -3px">
                                        <time class="pull-right text-muted">{{comment.date| date:'short':'-0400'}} <small>(EST)</small></time>
                                        <b>{{user.fullname}}</b>
                                        <p>{{comment.comment}}</p>
                                    </div>
                                </div>
                            </div>
                            <textarea class="form-control" placeholder="New Comment" ng-model="newcomment" ng-class="{'comment-active':comment_active}" ng-focus="comment_active = true"></textarea>
                            <button type="button" class="btn btn-xs" ng-click="addcomment()" ng-disabled="!newcomment"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-if="data.template">
                    <div class="row">
                        <div class="col-sm-2">Template Used</div>
                        <div class="col-sm-10">
                            <div class="studynote" ng-click="opentemplate(data.template._id)">
                                <b>{{data.template.series_desc}}</b> 
                                {{data.template.exam_id.StudyTimestamp | date:'medium':'-0400'}}
                                <span class="text-muted">(#{{data.template.SeriesNumber}})</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Template Override</div>
                        <div class="col-sm-10">
                            <ui-select class="template-selecter" 
                                ng-model="data.template"
                                on-select="select_template($item, $model)"
                                ng-disabled="!data.canqc">
                                <ui-select-match placeholder="Specify a template or leave it blank to auto select the latest template" allow-clear-dis="true">
                                    <div class_dis="studynote" ng-click_dis="opentemplate($select.selected._id)">
                                        {{$select.selected.exam_id.StudyTimestamp | date:'medium':'-0400'}}
                                    </div>
                                </ui-select-match>
                                <ui-select-choices repeat="template in data.templates">
                                    {{template.exam_id.StudyTimestamp | date:'medium':'-0400'}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-if="data.series.qc && (
                        data.series.qc.errors.length > 0 || data.series.qc.warnings.length > 0 || data.series.qc.notemps > 0
                    )">
                    <div class="row">
                        <div class="col-sm-2">QC Issues</div>
                        <div class="col-sm-10">
                            <!-- qc errors / warnings -->
                            <!--
                            <button type="button" class="btn btn-xs pull-right" ng-click="reqc()" ng-disabled="!data.canqc">Rerun QC1</button>
                            -->
                            <div style="max-height: 300px; overflow: auto;" class="qc-issues">
                                <!--<qcerror ng-repeat="error in data.series.qc.errors" error="error"></qcerror>-->
                                <!--<qcwarning ng-repeat="warning in data.series.qc.warnings" warning="warning"></qcwarning>-->
                                <div class="alert alert-danger qcalert" ng-repeat="error in data.series.qc.errors" role="alert">
                                    {{error.msg}} ({{error.per * 100 | number: 1}}%)
                                </div>
                                <div class="alert alert-info qcalert" role="alert" ng-if="data.series.qc.notemps > 0">
                                    Study contains {{data.series.qc.notemps}} images with no matching template
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            Images <span class="label label-default">{{data.series.qc.series_image_count}}</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <ul class="images">
                                        <li style="background-color: {{::image.color}};" 
                                            ng-repeat="image in data.images" 
                                            ng-class="{active: active_image == image}" 
                                            ng-click="load_image(image)" title="#{{image.headers.InstanceNumber}}">
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-if="!image_detail">
                                        <span class="text-muted">(Click an image to see details)</span>
                                    </li>
                                    <!-- <p>AcquisitionNumber: {{image_detail.acquisition_id}}</p>-->
                                    <li class="list-group-item" ng-if="image_detail">
                                        <div class="pull-right"><span class="text-muted">Image QC Date:</span> {{image_detail.qc.date | date:'medium':'-0400'}} <small>(EST)</small></div>
                                        Aq#{{image_detail.AcquisitionNumber}} - Inst#{{image_detail.InstanceNumber}}
                                    </li>
                                    <li class="list-group-item" ng-if="other_errors.length > 0 || other_warnings.length > 0 || image_detail.qc.notemp">
                                        <div style="max-height: 300px; overflow: auto;">
                                            <qcerror ng-repeat="error in other_errors" error="error"></qcerror>
                                            <qcwarning ng-repeat="warning in other_warnings" warning="warning"></qcwarning>
                                            <div class="alert alert-info qcalert" role="alert" ng-if="image_detail.qc.notemp"> Template Missing </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" ng-if="image_detail">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon text-info"><i class="fa fa-fw fa-search"></i></span>
                                                    <input type="text" class="form-control input-sm" placeholder="Filter headers..." ng-model="search.key"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-xs btn-info pull-right" ng-click="toggleheaders()">
                                                    <span ng-show="!show_all_headers">Show All Headers</span>
                                                    <span ng-show="show_all_headers">Show Only QC Errors</span>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <table class="table table-condensed table-imageheader" ng-if="image_detail">
                                        <tr ng-repeat="h in image_headers | filter: search.key" ng-if="image_errors[h.key] || image_warnings[h.key] || image_notemplate[h.key] || show_all_headers">
                                            <th>{{h.key}}</th>
                                            <td>
                                                <div ng-if="image_errors[h.key]" class="image-error">
                                                    <strong>{{image_errors[h.key].msg}}</strong>
                                                    <div class="row"> 
                                                        <div class="col-md-6">
                                                            Image Value
                                                            <pre ng-if="h.value !== undefined">{{h.value|json}}</pre>
                                                        </div>
                                                        <div class="col-md-6" style="opacity: 0.7;">
                                                            Template Value
                                                            <pre>{{image_errors[h.key].tv|json}}</pre>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-if="image_warnings[h.key]" class="image-warning">
                                                    <strong>{{image_warnings[h.key].msg}}</strong>
                                                    <div class="row"> 
                                                        <div class="col-md-6">
                                                            Image Value
                                                            <pre ng-if="h.value !== undefined">{{h.value|json}}</pre>
                                                        </div>
                                                        <div class="col-md-6" style="opacity: 0.7;">
                                                            Template Value
                                                            <pre>{{image_warnings[h.key].tv|json}}</pre>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-if="!image_errors[h.key] && !image_warnings[h.key]">                                                    
                                                    <pre>{{h.value|json}}</pre>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="alert alert-info qcalert" role="alert" ng-if="image_notemplate[h.key]"> Not in template </span>
                                            </td>
                                        </tr>
                                    </table>
                                </ul><!--list-group-->
                            </div><!--panel-->
                        </div><!--col-sm-10-->
                    </div><!--row-->
                </li>
            </ul><!--list-group-->
        </div><!--col-md-8-->
        <div class="col-md-4">
            <!-- TODO - prevent user from selecting button that's already selected -->
            <div>
                <h4 class="text-muted">QC1</h4>
                <p class="help-block">Protocol Level QC</p>
                <button type="button" class="btn btn-xs pull-right" 
                    ng-if="data.series.qc1_state && (data.series.qc1_state == 'accept' || data.series.qc1_state == 'reject')"
                    ng-click="changestate(1, null, $event)"><i class="fa fa-undo"></i> Reset</button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-success':data.series.qc1_state == 'autopass'}" disabled
                    ng-if="data.series.qc1_state == 'autopass'"
                    ng-model="data.series.qc1_state" ng-click="changestate(1, 'autopass', $event)">AutoPassed</button>

                <button type="button" class="btn btn-xs" ng-class="{'btn-warning':data.series.qc1_state == 'accept'}" 
                    ng-disabled="data.series.qc1_state == 'autopass' || !data.canqc"
                    ng-model="data.series.qc1_state" ng-click="changestate(1, 'accept', $event)">Accepted</button>

                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':data.series.qc1_state == 'reject'}"
                    ng-disabled="!data.canqc"
                    ng-model="data.series.qc1_state" ng-click="changestate(1, 'reject', $event)">Rejected</button>
            </div>
            <br>
            <h4 class="text-muted">Events</h4>
            <div class="activity" ng-repeat="event in data.series.events | filter:{title: '!Received'} | orderBy: 'date':1">
                <div class="row">
                    <div class="col-md-1">
                            <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10" style="color: rgb(42, 84, 90);">
                        <time class="pull-right text-muted">{{event.date|date:'short':'-0400'}}</time>
                        <b>{{event.username}}</b>                        
                        <p ng-if="event.title">{{event.title}}</p>
                        <p ng-if="event.detail.qc1_state"><span>Previous QC1 state: </span><span><b >{{event.detail.qc1_state}}</b></span> </p> 
                        <p ng-if="event.detail.date_qced"><span>Previous QC1 date: </span><b><time >{{event.detail.date_qced |date:'short'}}</time></b></p>
                        <p ng-if="event.detail.comment"><span>Comment: </span></p>                        
                        <p ng-if="event.detail.comment">
                            <i>{{event.detail.comment}}</i>                            
                        </p>
                    </div>
                </div>
                <hr />
            </div>
            <div class="activity" ng-if="data.series.qc">
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-stethoscope fa-fw"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.series.qc.date |date:'short':'-0400'}}</time>
                        Stage 1 QC performed
                    </div>
                </div>
            </div>
            <div class="activity" ng-if="data.series.qc">
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-long-arrow-up fa-fw faded"></i></div>
                </div>
            </div>
            <div class="activity">
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-cloud-upload fa-fw"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.series.createdAt |date:'short':'-0400'}}</time>
                        Recieved by SCA
                    </div>
                </div>
            </div>
            <div class="activity" ng-if="data.series.qc">
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-long-arrow-up fa-fw faded"></i></div>
                </div>
            </div>
            <div class="activity">
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-flask fa-fw"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.series.exam_id.StudyTimestamp |date:'short':'-0400'}}</time>
                        Studied
                    </div>
                </div>
            </div>
           
<!--
            <hr>
            <h4 class="text-muted">Comments</h4>
            <div class="activity" ng-repeat="comment in data.series.comments" ng-init="user = users[comment.user_id]">
                <div class="row">
                    <div class="col-md-2"><img gravatar-src="user.email" gravatar-size="32"></img></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{comment.date|date:'short'}}</time>
                        <b>{{user.fullname}}</b>
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
            </div>
            <textarea class="form-control" placeholder="Add a comment" ng-model="newcomment"></textarea>
            <button type="button" class="btn btn-xs" ng-click="addcomment()" ng-if="newcomment"><i class="fa fa-check"></i></button>
            -->
        </div>
    </div>
</div>

