<!--<sca-menutab fluid="true" menu="appconf.menu" active="'research'" user="user"></sca-menutab>-->
<div class="container-fluid study" ng-class="{'study-accepted': data.series.qc1_state == 'accepted'}">
    <div class="row-fluid">
        <div class="col-md-9">
            <p class="alert alert-warning" ng-if="data.canqc == false">You don't have QC access for this IIBISID.</p>
            <h2 style="display: inline-block">IIBISID: {{data.research.IIBISID}}</h2> &nbsp;
            <h3 style="display: inline-block">
                Modality: <b>{{data.research.Modality}}</b> 
                StationName: <b>{{data.research.StationName}}</b>
                <span ng-if="data.research.Modality == 'PT'">RadioTracer: <b>{{data.research.radio_tracer}}</b></span>
            </h3>
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #eee;">
                    <div class="row">
                        <div class="col-sm-2" style="margin-top: 5px;"><b>Series</b></div>
                        <div class="col-sm-10">
                            <studynote study="data.series" ng-if="data.series"></studynote> 
                            <button type="button" class="btn btn-xs pull-right" ng-click="reqc()" ng-disabled="!data.canqc">ReQC</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Comments</div>
                        <div class="col-sm-10 comments">
                            <div class="comment" ng-repeat="comment in data.series.comments" ng-init="user = users[comment.user_id]">
                                <div class="row">
                                    <div class="col-md-1"><img gravatar-src="user.email" gravatar-size="30"></img></div>
                                    <div class="col-md-11" style="position: relative; top: -3px">
                                        <time class="pull-right text-muted">{{comment.date|date:'short'}}</time>
                                        <b>{{user.fullname}}</b>
                                        <p>{{comment.comment}}</p>
                                    </div>
                                </div>
                            </div>
                            <textarea class="form-control" placeholder="New Comment" ng-model="newcomment" ng-class="{'comment-active':comment_active}" ng-focus="comment_active = true"></textarea>
                            <button type="button" class="btn btn-xs" ng-click="addcomment()" ng-disabled="!newcomment"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Series Description</div>
                        <div class="col-sm-10">{{data.series.series_desc}} <!--<span class="text-muted">(#{{data.series.SeriesNumber}})</span>--></div>
                    </div>
                </li>
                <!--
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2"><span class="text-muted">Series Number</span></div>
                        <div class="col-sm-10">{{data.series.SeriesNumber}}</div>
                    </div>
                </li>
                -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Study Timestamp</div>
                        <div class="col-sm-10">{{data.series.StudyTimestamp|date:'medium'}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Subject</div>
                        <div class="col-sm-10">{{data.series.subject}}</div>
                    </div>
                </li>
                <li class="list-group-item" ng-if="data.qc_template">
                    <div class="row">
                        <div class="col-sm-2">Template Used</div>
                        <div class="col-sm-10">
                            <div class="studynote" ng-click="opentemplate(data.qc_template._id)">
                                <b>{{data.qc_template.series_desc}}</b> 
                                {{data.qc_template.date | date:'medium'}} 
                                <span class="text-muted">(#{{data.qc_template.SeriesNumber}})</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">Template Override</div>
                        <div class="col-sm-10">
                            <ui-select class="template-selecter" 
                                ng-model="data.template_exam" 
                                on-select="select_template($item, $model)"
                                ng-disabled="!data.canqc">
                                <ui-select-match placeholder="Specify a template or leave it blank to auto select the latest template" allow-clear-dis="true">
                                    <div class_dis="studynote" ng-click_dis="opentemplate($select.selected._id)">
                                        {{$select.selected.date | date:'medium'}} 
                                    </div>
                                </ui-select-match>
                                <ui-select-choices group-by-dis="'series_desc'" repeat="template in data.template_exams">
                                    {{template.date | date:'medium'}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-if="data.series.qc && (
                        data.series.qc.errors.length > 0 || data.series.qc.warnings.length > 0 || data.series.qc.notemps > 0
                    )">
                    <div class="row">
                        <div class="col-sm-2">QC Issues</div>
                        <div class="col-sm-10">
                            <!-- qc errors / warnings -->
                            <!--
                            <button type="button" class="btn btn-xs pull-right" ng-click="reqc()" ng-disabled="!data.canqc">Rerun QC1</button>
                            -->
                            <div style="max-height: 300px; overflow: auto;" class="qc-issues">
                                <qcerror ng-repeat="error in data.series.qc.errors" error="error"></qcerror>
                                <qcwarning ng-repeat="warning in data.series.qc.warnings" warning="warning"></qcwarning>
                                <div class="alert alert-info qcalert" role="alert" ng-if="data.series.qc.notemps > 0">
                                    Study contains {{data.series.qc.notemps}} images with no matching template
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            Images <span class="label label-default">{{data.series.qc.image_count}}</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <ul class="images">
                                        <li style="background-color: {{::image.color}};" 
                                            ng-repeat="image in data.images" 
                                            ng-class="{active: active_image == image}" 
                                            ng-click="load_image(image)" title="{{image.anum}}-{{image.inum}}">
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-if="!image_detail">
                                        <span class="text-muted">(Click an image to see details)</span>
                                    </li>
                                    <!-- <p>AcquisitionNumber: {{image_detail.acquisition_id}}</p>-->
                                    <li class="list-group-item" ng-if="image_detail">
                                        <div class="pull-right"><span class="text-muted">Image QC Date:</span> {{image_detail.qc.date | date:'medium'}}</div>
                                        Aq#{{image_detail.headers.AcquisitionNumber}} - Inst#{{image_detail.InstanceNumber}}
                                    </li>
                                    <li class="list-group-item" ng-if="other_errors.length > 0 || other_warnings.length > 0 || image_detail.qc.notemp">
                                        <div style="max-height: 300px; overflow: auto;">
                                            <qcerror ng-repeat="error in other_errors" error="error"></qcerror>
                                            <qcwarning ng-repeat="warning in other_warnings" warning="warning"></qcwarning>
                                            <div class="alert alert-info qcalert" role="alert" ng-if="image_detail.qc.notemp"> Template Missing </div>
                                        </div>
                                    </li>
                                    <table class="table table-condensed table-imageheader" ng-if="image_detail">
                                        <tr ng-repeat="(k,v) in image_detail.headers" ng-if="image_errors[k] || image_warnings[k] || show_all_headers">
                                            <th>{{k}}</th>
                                            <td>
                                                <div ng-if="image_errors[k]" class="image-error">
                                                    <strong>{{image_errors[k].msg}}</strong>
                                                    <div class="row"> 
                                                        <div class="col-md-6">
                                                            Image Value
                                                            <pre ng-if="v !== undefined">{{v|json}}</pre>
                                                        </div>
                                                        <div class="col-md-6" style="opacity: 0.7;">
                                                            Template Value
                                                            <pre>{{image_errors[k].tv|json}}</pre>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-if="image_warnings[k]" class="image-warning">
                                                    <strong>{{image_warnings[k].msg}}</strong>
                                                    <div class="row"> 
                                                        <div class="col-md-6">
                                                            Image Value
                                                            <pre ng-if="v !== undefined">{{v|json}}</pre>
                                                        </div>
                                                        <div class="col-md-6" style="opacity: 0.7;">
                                                            Template Value
                                                            <pre>{{image_warnings[k].tv|json}}</pre>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-if="!image_errors[k] && !image_warnings[k]">
                                                    <pre>{{v|json}}</pre>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </ul><!--list-group-->
                                <div class="panel-footer" ng-if="image_detail && show_all_headers == false">
                                    <button type="button" class="btn btn-xs pull-right" ng-click="showallheaders()">Show All Headers</button>
                                    <br clear="both">
                                </div>
                            </div><!--panel-->
                        </div><!--col-sm-10-->
                    </div><!--row-->
                </li>
            </ul><!--list-group-->
        </div><!--col-md-9-->
        <div class="col-md-3">
            <!-- TODO - prevent user from selecting button that's already selected -->
            <div>
                <h4 class="text-muted">QC1</h4>
                <p class="help-block">Protocol Level QC</p>
                <button type="button" class="btn btn-xs pull-right" 
                    ng-if="data.series.qc1_state && (data.series.qc1_state == 'accept' || data.series.qc1_state == 'reject')"
                    ng-click="changestate(1, null, $event)"><i class="fa fa-undo"></i> Reset</button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-success':data.series.qc1_state == 'autopass'}" disabled
                    ng-if="data.series.qc1_state == 'autopass'"
                    ng-model="data.series.qc1_state" ng-click="changestate(1, 'autopass', $event)">AutoPassed</button>

                <button type="button" class="btn btn-xs" ng-class="{'btn-warning':data.series.qc1_state == 'accept'}" 
                    ng-disabled="data.series.qc1_state == 'autopass' || !data.canqc"
                    ng-model="data.series.qc1_state" ng-click="changestate(1, 'accept', $event)">Accepted</button>

                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':data.series.qc1_state == 'reject'}"
                    ng-disabled="data.series.qc1_state == 'autopass' || !data.canqc"
                    ng-model="data.series.qc1_state" ng-click="changestate(1, 'reject', $event)">Rejected</button>
            </div>
            <br>
            <div ng-if="data.series.qc1_state && data.series.qc1_state != 'reject'">
                <h4 class="text-muted">QC2</h4>
                <p class="help-block">Image Level QC</p>
                <button type="button" class="btn btn-xs pull-right" 
                    ng-if="data.series.qc2_state"
                    ng-click="changestate(2, null, $event)"><i class="fa fa-undo"></i> Reset</button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-success':data.series.qc2_state == 'accept'}" 
                    ng-disabled="!data.canqc" 
                    ng-model="data.series.qc2_state" ng-click="changestate(2, 'accept', $event)">Accepted</button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-warning':data.series.qc2_state == 'condaccept'}" 
                    ng-disabled="!data.canqc" 
                    ng-model="data.series.qc2_state" ng-click="changestate(2, 'condaccept', $event)"
                    tooltip-dis="Conditionally accept this series despite the stage 2 QC issues">Cond. Accepted</button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':data.series.qc2_state == 'reject'}" 
                    ng-disabled="!data.canqc" 
                    ng-model="data.series.qc2_state" ng-click="changestate(2, 'reject', $event)">Rejected</button>
                <hr>
            </div>
            <h4 class="text-muted">Events</h4>
            <div class="activity">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-video-camera"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.series.StudyTimestamp |date:'short'}}</time>
                        Studied
                    </div>
                </div>
            </div>
            <div class="activity">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-server"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.series.create_date |date:'short'}}</time>
                        Data Recieved by SCA
                    </div>
                </div>
            </div>
            <div class="activity" ng-if="data.series.qc">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-stethoscope"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.series.qc.date |date:'short'}}</time>
                        Stage 1 QC performed
                    </div>
                </div>
            </div>
            <div class="activity" ng-repeat="event in data.series.events" ng-init="user = users[event.user_id]">
                <div class="row">
                    <div class="col-md-2"><img gravatar-src="user.email" gravatar-size="32"></img></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{event.date|date:'short'}}</time>
                        <b>{{user.fullname}}</b>
                        <p ng-if="event.title">{{event.title}}</p>
                        <p ng-if="event.detail"><i>{{event.detail}}</i></p>
                    </div>
                </div>
            </div>
            <!--
            <hr>
            <h4 class="text-muted">Comments</h4>
            <div class="activity" ng-repeat="comment in data.series.comments" ng-init="user = users[comment.user_id]">
                <div class="row">
                    <div class="col-md-2"><img gravatar-src="user.email" gravatar-size="32"></img></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{comment.date|date:'short'}}</time>
                        <b>{{user.fullname}}</b>
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
            </div>
            <textarea class="form-control" placeholder="Add a comment" ng-model="newcomment"></textarea>
            <button type="button" class="btn btn-xs" ng-click="addcomment()" ng-if="newcomment"><i class="fa fa-check"></i></button>
            -->
        </div>
    </div><!--row-->
</div>

