<div class="sca-sidebar" ng-if="!hideSidebar">
    <!--<h2 class="text-muted"><i class="fa fa-check-square-o" aria-hidden="true"></i></h2>-->
    <h2 class="text-muted">
        <img style="cursor: pointer" ng-src="{{logo}}" width="48" ng-click="openpage('/about')">
    </h2>
    <br>
    <br>

    <div class="menu" ng-class="{'active':  active_menu == 'examsall'}" ng-click="openpage('exams/all');">
        <h3><i class="fa fa-list-alt" aria-hidden="true"></i></h3> Exams
    </div>
    <!--<div class="menu" ng-class="{'active':  active_menu == 'qcrecent'}" ng-click="openpage('/qc/recent')">-->
        <!--<h3><i class="fa fa-newspaper-o" aria-hidden="true"></i></h3> Recent Exams-->
    <!--</div>-->
    <div class="menu" ng-class="{'active':  active_menu == 'exams1'}" ng-click="openpage('exams/1')">
        <h3><i class="fa fa-check-square" aria-hidden="true"></i></h3> QC1 Pending
    </div>
    <div class="menu" ng-class="{'active':  active_menu == 'tsummary'}" ng-click="openpage('templatesummary')">
        <h3><i class="fa fa-files-o" aria-hidden="true"></i></h3> Template Summary
    </div>
    <div class="menu" ng-class="{'active':  active_menu == 'rsummary'}" ng-click="openpage('summary')">
        <h3><i class="fa fa-flask" aria-hidden="true"></i></h3> Research Summary
    </div>

    <div class="bottom">
        <div class="menu" ng-if="user.isadmin" ng-class="{'active':  active_menu == 'ingest'}" ng-click="openpage('ingest')">
            <h3><i class="fa fa-upload" aria-hidden="true"></i></h3> Ingest Data
        </div>
        <div class="menu" ng-if="user.isadmin" ng-class="{'active':  active_menu == 'qckeys'}" ng-click="openpage('qckeys')">
            <h3><i class="fa fa-key" aria-hidden="true"></i></h3> QC Keywords
        </div>
        <div class="menu" ng-if="user.isadmin" ng-class="{'active':  active_menu == 'admin'}" ng-click="openpage('admin')">
            <h3><i class="fa fa-users" aria-hidden="true"></i></h3> Access Control
        </div>
        <div class="menu" ng-if="user.isadmin" ng-class="{'active':  active_menu == 'dataflow'}" ng-click="openpage('dataflow')">
            <h3><i class="fa fa-paper-plane" aria-hidden="true"></i></h3> Dataflow
        </div>
        <div class="menu" ng-if="!isguest" ng-class="{'active':  active_menu == 'profile'}" ng-click="openpage('profile')">
            <h3><i class="fa fa-cog" aria-hidden="true"></i></h3> Profile
        </div>
        <div class="menu" onclick="$('#contact2').modal();">
            <h3><i class="fa fa-envelope" aria-hidden="true"></i></h3> Contact
        </div>
        <div class="menu" ng-click="openpage('signout')">
            <h3><i class="fa fa-sign-out" aria-hidden="true"></i></h3> Logout
        </div>
        <!--<div class="menu" ng-class="{'active':  active_menu == 'about'}" ng-click="openpage('/about')">-->
            <!--<h3><i class="fa fa-question" aria-hidden="true"></i></h3> About-->
        <!--</div>-->
    </div>

    <!--
    <div id="settings-menu" ng-if="show_settings">
        <a href="/profile" class="menu">Profile</a>
    </div>
    -->
</div>


<div  id="contact2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="fa fa-fw fa-envelope"></i> Have questions or comments?</h3>
            </div>
            <div class="modal-body">
                <form name="thisform">
                    <div class="form-group">
                        <label for="inputname">Full Name</label>
                        <input type="name" class="form-control" id="inputname" ng-model="comment_form.name" placeholder="Your name" autocomplete="name" required disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputemail">Email Address</label>
                        <input type="email" class="form-control" id="inputemail" ng-model="comment_form.email" placeholder="Your email address" autocomplete="email" required disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputsubject">Subject</label>
                        <input type="text" class="form-control" id="inputsubject" ng-model="comment_form.subject" placeholder="Enter a subject line" required>
                    </div>
                    <div class="form-group">
                        <label for="inputmessage">Message</label>
                        <textarea rows="5" class="form-control" id="inputmessage" ng-model="comment_form.message" placeholder="Enter your comment/question" required></textarea>
                    </div>
                </form>
            </div><!--modal-body-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" onclick="$('#contact2').modal('toggle');" ng-disabled="thisform.$invalid" ng-click="submit_comment()">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->

