<div class="container">
    <div class="row">
        <h2>Research Summary</h2>

        <select ng-model="selected" ng-change="getSummary()" ng-options="k+' ('+v.length+')' for (k, v) in researches"></select>

        <p></p>
        <div class="col-xs-10">
            <table class="table table-header-rotated table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th class="rotate-45" ng-repeat="sub in subjects"><div><span><i class="fa fa-fw fa-user"></i> {{sub}}</span></div></th>
                </tr>
                </thead>
                <tbody ng-repeat="(mod, res) in summary">
                <tr>
                    <td colspan="100"><h5>{{mod}}</h5></td>
                </tr>
                <tr>
                    <td><h6 class="pull-right">Series Descriptions</h6></td>
                    <td colspan="100"></td>
                </tr>
                <tr ng-repeat="sd in res.series_desc">
                    <th><span class="pull-right">{{sd}}</span></th>
                    <td ng-repeat="sub in subjects"
                        ng-init="qcs = res.subjects[sub][sd].qc1_state"
                        ng-class="{'pass': qcs == 'autopass',
                                'fail' : qcs == 'fail',
                                'warning' : qcs == 'accept',
                                '' : qcs == 'reject'}"
                        tooltip="{{res.subjects[sub][sd].qc.errors[0].msg}}" tooltip-append-to-body="true"
                    >
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>