<!--<sca-menutab fluid="true" menu="appconf.menu" active="'_template'" user="user"></sca-menutab>-->
<div class="container-fluid template">
    <h2 style="display: inline-block">IIBISID: {{data.template.exam_id.research_id.IIBISID}}</h2> &nbsp;
    <h3 style="display: inline-block">
        Modality: <b>{{data.template.exam_id.research_id.Modality}}</b>
        StationName: <b>{{data.template.exam_id.research_id.StationName}}</b>
        <span ng-if="data.research.Modality == 'PT'">RadioTracer: <b>{{data.template.exam_id.research_id.radio_tracer}}</b></span>
    </h3>
    <div class="row">

    <div class="col-sm-9">
        <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #eee;">
                <div class="row">
                    <div class="col-sm-2" style="margin-top: 5px;"><b>Template</b><!-- <span class="text-muted">(Series Number)</span>--></div>
                    <div class="col-sm-10">
                        <!--
                        <div class="studynote">
                            <span>#{{data.template.SeriesNumber}}</span>
                        </div>
                        -->
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">Series Description</div>
                    <div class="col-sm-10">{{data.template.series_desc}} <span class="text-muted">(#{{data.template.SeriesNumber}})</span></div>
                </div>
            </li>
            <!--
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-2"><span class="text-muted">Series Number</span></div>
                    <div class="col-sm-10">{{data.template.SeriesNumber}}</div>
                </div>
            </li>
            -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">Study Timestamp</div>
                    <div class="col-sm-10">{{data.template.exam_id.StudyTimestamp | date:'short':'-0400'}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        Template Images <span class="label label-default">{{data.templates.length}}</span>
                    </div>
                    <div class="col-sm-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <ul class="images">
                                    <li ng-repeat="template in data.templates" 
                                        ng-class="{active: active_template == template}" 
                                        ng-click="load_template(template)" title="{{template.AcquisitionNumber}}-{{template.InstanceNumber}}">
                                    </li>
                                </ul>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-if="!image_headers">
                                    <span class="text-muted">(Click an image to see details)</span>
                                </li>
                                <li class="list-group-item" ng-if="image_headers">
                                    Aq#{{image_headers.AcquisitionNumber}} - Inst#{{image_headers.InstanceNumber}}
                                </li>
                                <table class="table table-condensed table-imageheader" ng-if="image_headers">
                                    <tr ng-repeat="(k,v) in image_headers">
                                        <th>{{k}}</th>
                                        <td>
                                            <pre>{{v|json}}</pre>
                                        </td>
                                    </tr>
                                </table>
                            </ul><!--list-group-->
                        </div><!--panel-->
                    </div><!--col-sm-10-->
                </div><!--row-->
            </li>
        </ul>
    </div>
    </div>
        <div class="col-md-3">
            <h4 class="text-muted">Events</h4>
            <div class="activity">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-video-camera"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.template.exam_id.StudyTimestamp |date:'short':'-0400'}}</time>
                        Studied
                    </div>
                </div>
            </div>
            <div class="activity">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-server"></i></div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{data.template.createdAt |date:'short'}}</time>
                        Data Recieved by SCA
                    </div>
                </div>
            </div>
            <div class="activity" ng-repeat="event in data.events | filter:{title: '!Received'} | orderBy: 'date':1">
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <!-- <img gravatar-src="user.email" gravatar-size="25"></img> -->
                    </div>
                    <div class="col-md-10">
                        <time class="pull-right text-muted">{{event.date|date:'short'}}</time>
                        <b>{{event.username}}</b>
                        <p ng-if="event.title">{{event.title}}</p>
                        <p ng-if="event.detail.qc1_state"><span>Previous QC1 state: </span><span>{{event.detail.qc1_state}}</span> </p>
                        <p ng-if="event.detail.date_qced"><span>Previous QC1 date: </span><time >{{event.detail.date_qced |date:'short'}}</time></p>
                    </div>
                </div>
            </div>
        </div>

</div>

