<style>
    table { border-collapse: collapse; }
    .sel { background-color: #bce65e; }
    .desc { background-color: #d1e6ac; }

/* [disabled] {
  pointer-events: none;
} */

/* button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
} */

button {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-sm-11 col-offset-1">
            <h3><i class="fa fa-files-o"></i>  Template Summary Table</h3>
            <br>
            <div class="row" ng-if="noTemplates.length">
                <button class="btn btn-xs btn-danger" ng-click="showNoTemplates = !showNoTemplates"><i class="fa fa-fw fa-exclamation-triangle"></i> {{noTemplates.length}} researches have no template (click to {{showNoTemplates ? 'hide' : 'inspect'}})</button>


                <button class="btn btn-xs btn-info" ng-csv="export" filename="sqan_notemplates.csv"><i class="fa fa-fw fa-download"></i> (csv)</button>
                <table class="table table-striped table-hover table-bordered info" width="100%" cellspacing="0" ng-show="showNoTemplates">
                    <thead>
                        <tr>
                            <th>IIBIS</th>
                            <th>Modality</th>
                            <th>Station Name</th>
                            <th>RadioTracer</th>
                            <th>PI</th>
                            <th>Coordinator email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="res in noTemplates">
                            <td>{{res.research.IIBISID}}</td>
                            <td>{{res.research.Modality}}</td>
                            <td>{{res.research.StationName}}</td>
                            <td>{{res.research.radio_tracer}}</td>
                            <td>{{res.iibis.pi_last_name}}, {{res.iibis.pi_first_name}}</td>
                            <td>{{res.iibis.coordinator_email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-filter"></i></span>
                        <input type="text" class="form-control pull-right input-sm" ng-model="sorting.filter" placeholder="filter..." ng-model-options="{debounce: 400}">
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <table class="table table-striped table-hover table-bordered info" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center" ng-repeat="fieldname in fieldnames"><span ng-click="sorting.fieldname = fieldname">{{fieldname}}</span><i class="fa fa-fw fa-arrow-up" ng-show="sorting.fieldname == fieldname"></i></th>
                            <th> View </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'faded': $index!=rowNumber && fadedBackground==true}"
                            ng-repeat-start="templ in templates | filter:sorting.filter | orderBy: sorting.fieldname"  ng-click="templatesByTimestamp(templ,$index)" style="cursor: pointer;">
                            <td ng-repeat="ff in fields" class="text-center">{{templ[ff]}}</td>
                            <td class="text-center"><a href="">
                                <i ng-show="$index!=rowNumber" class="fa fa-angle-left"></i>
                                <i ng-show="$index==rowNumber" class="fa fa-angle-down"></i>
                            </a></td>
                        </tr>
                        <tr ng-repeat-end ng-if="$index==rowNumber">
                            <td colspan="6">
                                <uib-tabset type="tabs" active="activePill" type="pills">
                                    <uib-tab ng-repeat="timestamp in templatebytimestamp" index="$index" heading="{{timestamp.date | date:'short':'-0400'}}">
                                            <uib-tab-heading>
                                                <i ng-if="timestamp.converted_to_template" class="fa fa-clone"></i>
                                                <i ng-if="!timestamp.converted_to_template" class="fa fa-fw fa-file-o"></i>
                                                 {{timestamp.date | date:'short':'-0400'}}
                                                </uib-tab-heading>
                                        <div class="card">

                                            <div class="card-header lighten-1">
                                                <div class="col-sm-6 col-md-6">
                                                    <br>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                Template Information
                                                            </div>
                                                            <div class="panel-body">
                                                                <h5 >
                                                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                                    <span>Timestamp:</span>
                                                                    <span>{{timestamp.date | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                                                                </h5>
                                                                <h5>
                                                                    <span><i class="fa fa-list-ol" aria-hidden="true"></i></span>
                                                                    <span>Number of Series: </span>
                                                                    <span>{{timestamp.series.length}}</span>
                                                                </h5>
                                                                <h5>
                                                                    <span><i class="fa fa-check-square" aria-hidden="true"></i></span>
                                                                    <span>Series used for QC: </span>
                                                                    <span>{{timestamp.usedInQC}}</span>
                                                                </h5>
                                                                <span ng-if="timestamp.converted_to_template == true">
                                                                    <h5>
                                                                        <h5><i class="fa fa-clone" aria-hidden="true"></i></span>
                                                                        <span> This template was cloned from Subject <b>{{timestamp.parent_exam}}</b> </span>
                                                                    </h5>
                                                                </span>

                                                            </div>
                                                        </div>
                                                    </br>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-4">
                                                    <br>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                Action Links
                                                            </div>
                                                            <div class="panel-body">
                                                                <div
                                                                    uib-tooltip="All series in this template will be deleted"
                                                                    class="text-danger"
                                                                    style="cursor:pointer;"
                                                                    ng-click="deleteTemplate(timestamp,$index)">
                                                                    <h5>
                                                                        <i class="fa fa-trash fa-sm" aria-hidden="true"></i>
                                                                        Delete All Series
                                                                    </h5>
                                                                </div>
                                                                <div
                                                                    uib-tooltip="Only selected template series will be deleted"
                                                                    class="text-warning"
                                                                    style="cursor:pointer;"
                                                                    ng-class="{'faded': !(series2delete.length > 0)}"
                                                                    ng-click="deleteSelectedSeries(timestamp,$index)">
                                                                    <h5>
                                                                        <i class="fa fa-trash fa-sm" aria-hidden="true"></i>
                                                                        Delete {{series2delete.length}} Selected Series
                                                                    </h5>
                                                                </div>
                                                                <div
                                                                    class="text-info"
                                                                    style="cursor:pointer;"
                                                                    ng-click="getTemplateSeries(timestamp,$index)">
                                                                    <h5>
                                                                        <span uib-tooltip="Show table listing all series in this template" ng-if="indexShowSeries!=$index"><i class="fa fa-eye" aria-hidden="true"></i> Show Series</span>
                                                                        <span uib-tooltip="Hide the table" ng-if="indexShowSeries==$index"><i class="fa fa-eye-slash" aria-hidden="true"></i> Hide Series</span>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </br>
                                                </div>
                                            </div>

                                            <div class="card-body" ng-show="indexShowSeries==$index">
                                                <!-- <div class="col-sm-7 col-md-10"> -->
                                                    <table class="table table-striped table-hover info" width="100%" cellspacing="0">
                                                        <tr style="background-color:#e2eef5">
                                                            <th class="text-center" ng-repeat="dd in tseriesTable track by $index">{{dd}}</th>
                                                            <th><i class="fa fa-trash fa-lg" aria-hidden="true"></i></th>
                                                            <tr ng-repeat-end style="background-color:#f2f7fa" ng-repeat="dd in templateSeries.series | orderBy: 'SeriesNumber'">
                                                                <td class="text-center">{{dd.SeriesNumber}}</td>
                                                                <td class="text-center" style="word-wrap: break-all;cursor:pointer" ng-click="opentemplate(dd.template_id)">{{dd.series_desc}}</td>
                                                                <td class="text-center">{{dd.usedInQC}}</td>
                                                                <td class="text-center">{{dd.imageCount}}</td>
                                                                <td><input type="checkbox" ng-click="deleteThisSeries(dd)"></td>
                                                            </tr>
                                                        </tr>
                                                    </table>
                                                <!-- </div> -->
                                            </div>

                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>








