<div class="container">
    <h2>Series: {{series.series_desc}} <small>{{seriesid}}</small></h2>
    <div ng-repeat="(instid, instance) in series.instances" class="instance"
        ng-class="{
            'instance_error': instance.errors.length != 0, 
            'instance_warning': instance.warnings.length != 0,
            'instance_active': $parent.instance.SOPInstanceUID == instid 
        }"
        title="{{instid}}" ng-click="open_instance(instid)">
    </div>
    <h1>Instance: {{instance.SOPInstanceUID}}</h2>

    <p ng-repeat="error in series.instances[instid].errors" class="alert alert-danger">
        <span class="sr-only">Error:</span> 
        <b>{{error.type}}</b> {{error.message}}
        <!--
        <blockquote>
            <b>Field:{{error.field}}</b> = <b>Value:{{error.value}}</b>
        </blockquote>
        -->
    </p>

    <p ng-repeat="warning in series.instances[instid].warnings" class="alert alert-warning">
        <span class="sr-only">Warning:</span> 
        <b>{{warning.type}}</b> {{warning.message}}
        <!--
        <blockquote>
            <b>Field:{{error.field}}</b> = <b>Value:{{error.value}}</b>
        </blockquote>
        -->
    </p>

    <h2>Headers</h2>
    <table class="table table-condensed">
    <thead>
        <th><input type="text" ng-model="headerfilter" class="form-control"></th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in filtered(instance)">
            <th>{{key}}</th><td>{{value}}</td>
        </tr>
    </tbody>
    </table>
</div>
