body {
/*font-family: 'Lato', serif;*/
}
span.errorcount {
color: red;
font-weight: bold;
}
span.warningcount {
color: orange;
font-weight: bold;
}
div.instance {
background-color: gray;
margin-left: 2px;
display: inline-block;
width: 14px;
height: 14px;
cursor: pointer;
}
div.instance:hover {
    opacity: 0.6;
}
div.instance_warning {
background-color: orange;
}
div.instance_error {
  background-color: red;
}
div.instance.instance_active {
-animation: bigger .5s;
-webkit-animation: bigger .5s;
background-color: #337ab7;
}
@keyframes bigger {
from {background-color: inherit;}
to {background-color: #337ab7;}
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.instance-detail {
maring-right: 2px;
border-left: 4px solid #ccc;
padding-left: 10px;
}

h2 {
    margin-top: 15px;
}

/* when showing the picture */
.instance-detail.ng-hide-remove      { animation:0.5s flipInX ease; }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

ul.images {
    list-style: none;
    padding: 0px;

    li {
        display: inline-block;
        height: 10px; 
        width: 10px; 
        margin-left: 1px;
        cursor: pointer;
        background-color: gray;
        &.active {
            /*border-radius: 5px;*/
            border-bottom: 3px solid white;
        }
        &:hover {
            background-color: #008cba;
            /*background-color: black;*/
        }
    }   
}

/*
ol.subjects {
    list-style: none;
    padding: 0px;
    margin: 0px;
    .subject-name {
        padding: 3px;
    }
    .template-link {
        color: #666;
    }
    li:hover {
        cursor: pointer;

        .subject-name {
            background-color: #ddd;
        }
    }
    li.inview {
        .subject-name {
            color: white;
            background-color: #008cba;
        }
    }
}
*/
.template-head {
    background-color: #ccc;
}
.template-body {
    padding: 15px;
    border-top: 0px;
    background-color: #f6f6f6;
}

.subject {
    .subject-body {
        border-bottom: 0px;
        padding: 5px 15px;

        .subject-tall:not(:last-child) {
            border-bottom: 1px solid #ccc;
            margin-bottom: 5px;
        }
        margin-bottom: 10px;
    }
    &.template {
        background-color: #008cba;
    }
}

.missing {
    padding: 3px;
    margin: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    display: inline-block;
}

.clickable:hover {
    cursor: pointer;
    background-color: #ddd; /*fights with list-group.less*/
    color: black;
}

.excluded,
.studynote {
    padding: 3px;
    margin: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    display: inline-block;
    &:hover {
        cursor: pointer;
        background-color: #ddd;
    }
}

h3 {
margin-top: 0px;
}

.image-detail {
    ul.qc-errors {
        list-style: none;
        padding: 0px;
    }
    .headers {
        max-height: 250px;
        overflow: auto;
    }
}

.panel-body {
    padding: 0px 15px;
}

.panel-default {
    .panel-heading-template {
        color: white;
        background-color: #bbb;
    }
    .panel-body-template {
    background-color: #fafafa;
    }
}

.template,
.study {
    &.study-accepted {
        .qc-issues {
            opacity: 0.3;    
        }
    }
    .qcalert {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 3px;
        pre {
            margin-bottom: 0px;
            padding: 3px;
        }
    }
    .table-imageheader {
        pre {
            margin: 0px;
            padding: 0px;
            border: none;
            font-size: inherit;
            background-color: inherit;
        }
        th {
            padding-left: 15px;
        }
    }
    .image-error {
        color: #f04124;
        border: 2px solid #f04124;
        padding: 5px;
        margin: 5px;
        background-color: #f2dede;
        pre {
            padding: 5px;
            background-color: white;
        }
    }
    .image-warning {
        color: #e99002;
        border: 2px solid #e99002;
        padding: 5px;
        margin: 5px;
        background-color: #fcf8e3;
        pre {
            padding: 5px;
            background-color: white;
        }
    }
    .template-selecter {
        .btn {
            font-size: inherit;
        }
        .form-control {
            padding: 5px;
            height: inherit;
            font-size: inherit;
        }
    }
}

.activity {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 90%;
    p {
        margin-bottom: 0px;
    }
}

.legend {
    font-size: 85%;
    box-shadow: inset 0 3px 3px #ccc;
    background-color: #ddd;
    padding: 8px;
    text-align: center;
    margin-bottom: 0px;
}

.comments {
    .comment {
        margin-bottom: 3px;
        p {
            margin-bottom: 0px;
        }
        img {
            padding-right: 4px;
            padding-bottom: 2px;
        }
    }
    textarea {
        font-size: 90%;
        padding: 1px 8px;
        height: 20px;
        &.comment-active {
            height: 100px;
            font-size: 100%;
            padding: 5px;
        }
    }
}

.subbar {
    position: fixed;
    top: 0;
    left: 80px;
    z-index: 998;
    width: 350px;
    height: 100%;
    border-right: 1px solid #ddd;

    h2 {
        color: #878787;
        font-weight: bold;
        font-size: 21px;
    }
}
.subbar-list {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 350px;
    position: fixed;
    top: 108px;
    bottom: 0px;

    .subbar-list-item {
        padding: 5px 0px 5px 15px;
        box-sizing: border-box;
        border: 3px solid transparent;
        box-shadow: 0px -1px 1px #eee;

        &:hover {
            cursor: pointer;
            background-color: #eee;
        }
        &.active {
            border: 3px solid #008cba;
        }
        .subbar-list-item-header {
            font-size: 15px;
            font-weight: 400;
            color: #666;
            margin-bottom: 5px;
        }
    }
    .subbar-list-header {
        font-size: 16px;
        font-weight: bold;
        color: #008cba;
        padding: 15px;
        padding-bottom: 5px;
    }
}
.subbar-content {
    margin-left: 350px;
    
    h2 {
        padding-left: 15px; 
        color: #008cba;
        font-weight: bold;
        font-size: 21px;
    }
    h3 {
        padding: 0px 15px;
        font-size: 18px;
    }
    h4 {
        margin: 0px;
        padding: 5px 15px;
        background-color: #ccc;
        color: white;
        font-size: 16px;
        line-height: 100%;
    }

    .fixed-top {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
        right: 0px;
        background-color: white;
        padding-bottom: 7px;
        border-bottom: 1px solid #eee;
    }
}
.progress.exam-state {
    display: inline-block;
    border: none;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    height: 18px;
    width: 150px;
}
.subject-label {
    small {
        line-height: 175%;
        margin-left: 3px;
        color: white;
        font-size: 70%;
    }
}

