/*main css*/
body {
  font-family: 'Lato', serif;
}
span.errorcount {
  color: red;
  font-weight: bold;
}
span.warningcount {
  color: orange;
  font-weight: bold;
}
h2 {
  color: gray;
  font-weight: bold;
}
div.instance {
  background-color: gray;
  margin-left: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
div.instance:hover {
  opacity: 0.6;
}
div.instance_warning {
  background-color: orange;
}
div.instance_error {
  background-color: red;
}
div.instance.instance_active {
  -animation: bigger .2s;
  width: 28px;
  height: 28px;
}
@keyframes bigger {
  from {
    width: 14px;
    height: 14px;
  }
  to {
    width: 28px;
    height: 28px;
  }
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.instance-detail {
  maring-right: 2px;
  border-left: 4px solid #ccc;
  padding-left: 10px;
}
/* The starting CSS styles for the enter animation */
.instance-detail.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}
/* The finishing CSS styles for the enter animation */
.instance-detail.ng-enter.ng-enter-active {
  opacity: 1;
}
