html { margin-left: calc(100vw - 100%); }

.sca-sidebar-page {
  padding-left: 80px;
}
.sca-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 80px;
  height: 100%;
  background-color: #eee;
  border-right: 1px solid #ddd;
  text-align: center;
}
.sca-sidebar .menu {
  color: #aaa;
  width: 80px;
  transition: 0.5s ease all;
  cursor: pointer;
  margin: 3px 0px;
  padding: 8px;
  font-size: 8pt;
}
.sca-sidebar .menu h2 {
  color: #878787;
  font-weight: bold;
  font-size: 21px;
}
.sca-sidebar .menu h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  text-transform: uppercase;
  font-size: 18px;
}
.sca-sidebar .menu:hover {
  background-color: #ddd;
  color: #008cba;
}
.sca-sidebar .menu:hover h3 {
  color: #008cba;
}
.sca-sidebar .menu.active {
  background-color: #008cba;
  color: white;
}
.sca-sidebar .menu.active h3 {
  color: white;
}
.sca-sidebar .bottom {
  position: fixed;
  bottom: 0px;
  width: 80px;
}
.sca-sidebar hr {
  margin: 5px 0px;
}



dy {
  /*font-family: 'Lato', serif;*/
}
span.errorcount {
  color: red;
  font-weight: bold;
}
span.warningcount {
  color: orange;
  font-weight: bold;
}
div.instance {
  background-color: gray;
  margin-left: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
div.instance:hover {
  opacity: 0.6;
}
div.instance_warning {
  background-color: orange;
}
div.instance_error {
  background-color: red;
}
div.instance.instance_active {
  -animation: bigger .5s;
  -webkit-animation: bigger .5s;
  background-color: #337ab7;
}
@keyframes bigger {
  from {
    background-color: inherit;
  }
  to {
    background-color: #337ab7;
  }
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin .7s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.instance-detail {
  maring-right: 2px;
  border-left: 4px solid #ccc;
  padding-left: 10px;
}
h2 {
  margin-top: 15px;
}
/* when showing the picture */
.instance-detail.ng-hide-remove {
  animation: 0.5s flipInX ease;
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
ul.images {
  list-style: none;
  padding: 0px;
}
ul.images li {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 1px;
  cursor: pointer;
  background-color: gray;
}
ul.images li.active {
  /*border-radius: 5px;*/
  border-bottom: 3px solid white;
}
ul.images li:hover {
  background-color: #008cba;
  /*background-color: black;*/
}
/*
 * ol.subjects {
 *     list-style: none;
 *         padding: 0px;
 *             margin: 0px;
 *                 .subject-name {
 *                         padding: 3px;
 *                             }
 *                                 .template-link {
 *                                         color: #666;
 *                                             }
 *                                                 li:hover {
 *                                                         cursor: pointer;
 *
 *                                                                 .subject-name {
 *                                                                             background-color: #ddd;
 *                                                                                     }
 *                                                                                         }
 *                                                                                             li.inview {
 *                                                                                                     .subject-name {
 *                                                                                                                 color: white;
 *                                                                                                                             background-color: #008cba;
 *                                                                                                                                     }
 *                                                                                                                                         }
 *                                                                                                                                         }
 *                                                                                                                                         */
.template-head {
  background-color: #ccc;
}
.template-body {
  padding: 15px;
  border-top: 0px;
  background-color: #f6f6f6;
}
.subject .subject-body {
  border-bottom: 0px;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.subject .subject-body .subject-tall:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.subject.template {
  background-color: #008cba;
}
.missing {
  padding: 3px;
  margin: 2px;
  background-color: #eee;
  border: 1px solid #ddd;
  display: inline-block;
}
.clickable:hover {
  cursor: pointer;
  background-color: #ddd;
  /*fights with list-group.less*/
  color: black;
}
.excluded,
.studynote {
  padding: 3px;
  margin: 2px;
  background-color: #eee;
  border: 1px solid #ddd;
  display: inline-block;
}
.excluded:hover,
.studynote:hover {
  cursor: pointer;
  background-color: #ddd;
}
h3 {
  margin-top: 0px;
}
.image-detail ul.qc-errors {
  list-style: none;
  padding: 0px;
}
.image-detail .headers {
  max-height: 250px;
  overflow: auto;
}
.panel-body {
  padding: 0px 15px;
}
.panel-default .panel-heading-template {
  color: white;
  background-color: #bbb;
}
.panel-default .panel-body-template {
  background-color: #fafafa;
}
.template.study-accepted .qc-issues,
.study.study-accepted .qc-issues {
  opacity: 0.3;
}
.deprecated {
  opacity: 0.3;
}
.template .qcalert,
.study .qcalert {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 3px;
}
.template .qcalert pre,
.study .qcalert pre {
  margin-bottom: 0px;
  padding: 3px;
}
.template .table-imageheader pre,
.study .table-imageheader pre {
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: inherit;
  background-color: inherit;
}
.template .table-imageheader th,
.study .table-imageheader th {
  padding-left: 15px;
}
.template .image-error,
.study .image-error {
  color: #f04124;
  border: 2px solid #f04124;
  padding: 5px;
  margin: 5px;
  background-color: #f2dede;
}
.template .image-error pre,
.study .image-error pre {
  padding: 5px;
  background-color: white;
}
.template .image-warning,
.study .image-warning {
  color: #e99002;
  border: 2px solid #e99002;
  padding: 5px;
  margin: 5px;
  background-color: #fcf8e3;
}
.template .image-warning pre,
.study .image-warning pre {
  padding: 5px;
  background-color: white;
}
.template .template-selecter .btn,
.study .template-selecter .btn {
  font-size: inherit;
}
.template .template-selecter .form-control,
.study .template-selecter .form-control {
  padding: 5px;
  height: inherit;
  font-size: inherit;
}
.activity {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 90%;
}
.activity p {
  margin-bottom: 0px;
}
.legend {
  font-size: 85%;
  box-shadow: inset 0 3px 3px #ccc;
  background-color: #ddd;
  padding: 8px;
  text-align: center;
  margin-bottom: 0px;
}
.comments .comment {
  margin-bottom: 3px;
}
.comments .comment p {
  margin-bottom: 0px;
}
.comments .comment img {
  padding-right: 4px;
  padding-bottom: 2px;
}
.comments textarea {
  font-size: 90%;
  padding: 1px 8px;
  height: 20px;
}
.comments textarea.comment-active {
  height: 100px;
  font-size: 100%;
  padding: 5px;
}
.subbar {
  position: fixed;
  top: 0;
  left: 80px;
  z-index: 998;
  width: 350px;
  height: 100%;
  border-right: 1px solid #ddd;
  background-color: white;
}

.subbarnew {
  width: 275px;
}

.subbar h2 {
  color: #878787;
  font-weight: bold;
  font-size: 21px;
}
.subbar-list {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 350px;
  position: fixed;
  top: 108px;
  bottom: 0px;
}

.subbar-listnew {
  width: 275px;
}

.subbar-list .subbar-list-item {
  padding: 2px 0px 2px 15px;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow: 0px -1px 1px #eee;
}
.subbar-list .subbar-list-item:hover {
  cursor: pointer;
  background-color: #eee;
}
.subbar-list .subbar-list-item.active {
  border: 3px solid #008cba;
}
.subbar-list .subbar-list-item-header {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  margin-bottom: 5px;
}
.subbar-list .subbar-list-header {
  font-size: 16px;
  font-weight: bold;
  color: #008cba;
  padding: 15px;
  padding-bottom: 5px;
}
.subbar-content {
  margin-left: 350px;
}

.subbar-contentnew {
  margin-left: 275px;
}

.subbar-content h2 {
  padding-left: 15px;
  color: #008cba;
  font-weight: bold;
  font-size: 21px;
}
.subbar-content h3 {
  padding: 0px 15px;
  font-size: 18px;
}
.subbar-content h4 {
  margin: 0px;
  padding: 8px 15px;
  background-color: #eee;
  color: gray;
  font-size: 16px;
  line-height: 100%;
}
.subbar-content .fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  right: 0px;
  background-color: white;
  padding-bottom: 7px;
  border-bottom: 1px solid #eee;
}
.progress.exam-state {
  display: inline-block;
  border: none;
  margin: 0px;
  padding: 0px;
  height: 18px;
  width: 110px;
}
.subject-label {
  line-height: 100%;
  display: inline-block;
  margin-right: 5px;
}
.subject-label small {
  line-height: 175%;
  margin-left: 3px;
  color: white;
  font-size: 70%;
}
.subject-label:hover {
  box-shadow: 0px 0px 5px #666;
}

/*-----------------------------------------------
 *
 *     Footer
 *
 *     -----------------------------------------------*/
/* brand footer */
#push-the-footer {
  height: 121px;
}
#footer {
  background-color: #F1F1F1;
  min-height: 121px;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
#footer a {
  color: #990000;
}
#footer a:hover {
  color: #7d1110;
  text-decoration: underline;
}
.wordmark {
  display: block;
  width: 233px;
  height: 35px;
}
.footer-wordmark p {
  margin-bottom: 0;
  padding-top: .5em;
  text-transform: uppercase;
}
.footer-trident {
  width: 30px;
  margin-right: .5em;
  float: left;
}
.footer-legal p {
  font-size: .8125em;
}
.footer-legal p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 38px !important;
}
.social-links {
  float: right;
  height: auto;
  margin-bottom: .25em;
  padding: 0;
  list-style: none;
}
.social-links li {
  display: inline;
}
#footer .social-links a {
  display: block;
  float: left;
  width: 27px;
  height: 27px;
  margin-left: 5px;
  text-indent: -999em;
  background: url(../img/social-icons.png) no-repeat;
  background-position: 0 0;
}
#footer .social-links .facebook-link {
  background-position: 0 0;
}
#footer .social-links .facebook-link:hover {
  background-position: 0 -27px;
}
#footer .social-links .twitter-link {
  background-position: -27px 0;
}
#footer .social-links .twitter-link:hover {
  background-position: -27px -27px;
}
#footer .social-links .youtube-link {
  background-position: -54px 0;
}
#footer .social-links .youtube-link:hover {
  background-position: -54px -27px;
}
#footer .social-links .gplus-link {
  background-position: -108px 0;
}
#footer .social-links .gplus-link:hover {
  background-position: -108px -27px;
}
.footer-uits-links {
  float: right;
  text-align: right;
  height: auto;
}
.footer-uits-links ul {
  list-style-type: none;
  padding: 0;
}
.footer-uits-links ul li {
  display: inline-block;
  margin-left: .875em;
}
.footer-uits-links ul li a {
  font-size: .8125em;
}
@media screen and (max-width: 64em) {
  .footer-legal {
    margin-bottom: 1.5em;
  }
  .footer-uits-links {
    float: left;
  }
}
@media screen and (max-width: 50em) {
  .footer-legal img {
    display: none;
  }
  .footer-legal {
    min-height: 36px;
    padding-left: 35px;
    background: url(../img/trident-crimson.png) no-repeat scroll left top transparent;
  }
  .footer-legal .copyright {
    font-size: 1.025em;
  }
  #footer .footer-uits-links .label a {
    background-color: #fff;
    display: block;
    color: #767676;
    position: relative;
    width: 100px;
    padding: 0.25em 0.5em 0.5em 0.5em;
    height: 2em;
  }
  .footer-uits-links .label a:after {
    content: "";
    display: block;
    width: 13px;
    height: 9px;
    margin-top: -4px;
    position: absolute;
    right: 10px;
    top: 50%;
    background: url(../img/caret-updown-black.png) no-repeat scroll left top transparent;
  }
  .footer-uits-links.open .label a:after {
    background-position: left bottom;
  }
  .footer-uits-links ul {
    display: none;
    /* visibility triggered by javascript */
    position: absolute;
    bottom: 100%;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow: hidden;
  }
  .footer-uits-links li {
    padding: 0px 1em;
    float: none;
    text-align: left;
    font-size: 1em;
    line-height: 1em;
    width: 175px;
  }
  .footer-uits-links ul li {
    margin-left: 0;
  }
  .footer-uits-links li:first-child {
    margin-top: 5px;
  }
  .footer-uits-links li a:last-child {
    border-bottom: none;
  }
  .footer-legal {
    margin-bottom: 2em;
  }
  .footer-uits-links {
    text-align: left;
  }
  .footer-uits-links ul li {
    display: block;
  }
  .footer-uits-links ul li a {
    display: block;
    padding: .75em 0;
    border-bottom: 1px solid #eee;
  }
  .social-links {
    float: right !important;
  }
}
/* sticky footer */
.sticky-footer #not-the-footer {
  margin-bottom: -166px;
}
.sticky-footer #footer,
.sticky-footer #push-the-footer {
  height: 166px;
}
/**************************************** Footer ***************************************/
#footer-v1 {
  clear: both;
}
#footer-v1 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer-v1 {
  background: #fff;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0 0 20px 0;
  text-align: center;
}
#footer-v1 .wrapper {
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2.35765%;
  padding-left: 2.35765%;
}
#footer-v1 .wrapper:after {
  content: "";
  display: table;
  clear: both;
}
#footer-v1 .tagline {
  background: #7a1705;
  color: #fff;
  font-size: 1.125em;
  /* 18px (18/16) */
  letter-spacing: 0.2em;
  line-height: 1em;
  /* 18px (18/18) */
  margin: 0 -2.35765% 10px;
  padding: 5px;
  text-transform: uppercase;
  vertical-align: bottom;
}
#footer-v1 .tagline span {
  font-size: .7778em;
  /* 14px (14/18) */
  text-transform: lowercase;
  letter-spacing: 0;
  display: inline-block;
  margin-left: -4px;
}
#footer-v1 p {
  font-size: .6875em;
  /* 11px (11/16) */
}
#footer-v1 a {
  color: #7d110c;
  font-family: inherit;
  text-decoration: none;
}
#footer-v1 a:hover {
  text-decoration: underline;
}
#footer-v1 .internal {
  margin: 0 0 15px 0;
}
#footer-v1 .copyright {
  margin: 0;
}
#footer-v1 .block-iu {
  display: block;
  height: 26px;
  margin: 0 auto 5px auto;
  width: 22px;
}
/* 768px (768/16) */
@media screen and (min-width: 40em) {
  #footer-v1 {
    border-top: 6px solid #7a1705;
    padding: 40px 0 30px 0;
    position: relative;
    text-align: left;
    z-index: 1;
  }
  #footer-v1 .wrapper {
    position: relative;
  }
  #footer-v1 .tagline {
    font-size: 1.5em;
    /* 24px (24/16) */
    line-height: 1em;
    /* 24px (24/24) */
    text-align: center;
    /* Positioning */
    margin: 0 -200px 0 0;
    padding: 8px 20px 8px 24px;
    position: absolute;
    left: 50%;
    top: -66px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #footer-v1 .tagline span {
    font-size: .6667em;
    /* 16px (16/14) */
  }
  #footer-v1 .copyright {
    overflow: hidden;
    padding: 7px 0 0 0;
    position: relative;
  }
  #footer-v1 .internal {
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 1;
  }
  #footer-v1 .block-iu {
    float: left;
    margin: -7px 9px 0 0;
  }
}
/* 980px (980/16) - 960+20 for FF, IE, Opera d/t rounding */
@media screen and (min-width: 63.75em) {
  #footer-v1 .wrapper {
    padding: 0;
  }
}


/***************** Rotate Table Header *************/
.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  /*width: 40px;*/
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
// width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
// white-space: nowrap; /*whether to display in one line or not*/
}

.color-box {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: rgb(144, 155, 143);
  border: 1px solid #000;
  margin: 0;
}

.pass {
  background-color: rgba(0, 139, 86, 0.7);
}

.warning {
  background-color: rgb(189, 176, 51, 0.7);
}

.fail {
  background-color: rgb(201, 0, 17, 0.7);
}

.na {
  background-color: rgba(148, 148, 148, 0.2);
}


.dropdown-menu>li>a {
  padding: 3px 15px;
}

.tooltip-inner {
  text-align: left;
}

.faded {
  opacity: 0.5;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}