/*main css*/
body {
  font-family: 'Lato', serif;
}
span.errorcount {
  color: red;
  font-weight: bold;
}
span.warningcount {
  color: orange;
  font-weight: bold;
}
h2 {
  color: gray;
  font-weight: bold;
}
div.instance {
  background-color: gray;
  margin-left: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
div.instance:hover {
  opacity: 0.6;
}
div.instance_warning {
  background-color: orange;
}
div.instance_error {
  background-color: red;
}
div.instance.instance_active {
  -animation: bigger .5s;
  -webkit-animation: bigger .5s;
  /*width: 28px;
height: 28px;
*/
  background-color: #337ab7;
}
@keyframes bigger {
  /*
from {width: 14px;height: 14px;}
to {width: 28px; height: 28px; }
*/
  from {
    background-color: inherit;
  }
  to {
    background-color: #337ab7;
  }
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin .7s infinite linear;
}
/*
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
*/
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.instance-detail {
  maring-right: 2px;
  border-left: 4px solid #ccc;
  padding-left: 10px;
  /*
-animation: expand .7s;
-webkit-animation: expand .7s;
height: 100px;
*/
}
/*
@keyframes expand {
    from { height: 0; }
    to { height: 100px; }
}
*/
/* when hiding the picture */
/*
.instance-detail.ng-hide-add         { animation:0.5s lightSpeedOut ease; }
*/
/* when showing the picture */
.instance-detail.ng-hide-remove {
  animation: 0.5s flipInX ease;
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
