/*main css*/
body {
font-family: 'Lato', serif;
}
span.errorcount {
color: red;
font-weight: bold;
}
span.warningcount {
color: orange;
font-weight: bold;
}
h2 {
color: gray;
font-weight: bold;
margin-top: 0px;
}
div.instance {
background-color: gray;
margin-left: 2px;
display: inline-block;
width: 14px;
height: 14px;
cursor: pointer;
}
div.instance:hover {
opacity: 0.6;
}
div.instance_warning {
background-color: orange;
}
div.instance_error {
  background-color: red;
}
div.instance.instance_active {
-animation: bigger .5s;
-webkit-animation: bigger .5s;
background-color: #337ab7;
}
@keyframes bigger {
from {background-color: inherit;}
to {background-color: #337ab7;}
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.instance-detail {
maring-right: 2px;
border-left: 4px solid #ccc;
padding-left: 10px;
}

/* when showing the picture */
.instance-detail.ng-hide-remove      { animation:0.5s flipInX ease; }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

ul.images {
    list-style: none;
    padding: 0px;

    li {
        display: inline-block;
        height: 10px; 
        width: 10px; 
        margin-left: 1px;
        cursor: pointer;
        background-color: gray;
        &.active {
            /*border-radius: 5px;*/
            border-bottom: 3px solid white;
        }
        &:hover {
            background-color: #008cba;
            /*background-color: black;*/
        }
    }   
}

ol.subjects {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li:hover {
        background-color: #ddd;
        cursor: pointer;
    }
    li {
        /*background-color: #eee;
        border: 1px solid #ddd; */
        padding: 2px;
        margin: 2px 0px;
        a {
            text-decoration: none;
            color: black;
        }
        &.template-link {
            background-color: #ccc;
        }
        &.inview {
            a { color: white }
            background-color: #008cba;
        }
    }
}
.template-head {
    background-color: #ccc;
}
.template-body {
    border-top: 0px;
    background-color: #f6f6f6;
}

.subject {
    .list-group-item-subject {
        border-bottom: 0px;
        padding: 3px 10px;
    }
    .subject-body {
        background-color: #eee;
    }
    th {
        opacity: 0.4;
    }
    &.template {
        background-color: #008cba;
    }
}

/*
ul.templates {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
        padding: 3px;
        margin: 2px;
        background-color: #eee;
        border: 1px solid #ddd;
        display: inline-block;

        &:hover {
            cursor: pointer;
            background-color: #ddd;
        }
    }
}
*/
.missing {
    padding: 3px;
    margin: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    display: inline-block;
}

.clickable:hover {
    cursor: pointer;
    background-color: #ddd;
    color: black;
}

.excluded,
.studynote {
    padding: 3px;
    margin: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    display: inline-block;

    &:hover {
        cursor: pointer;
        background-color: #ddd;
    }
}
/*
td.missing {
    background-color: #008cba;
    color: white;
    padding: 1px 5px;
}
ul.templates {
    li {
        border: 1px solid white;
        color: #aaa;
        &:first-child {
            color: black;
        }
    }
}
*/

h3 {
margin-top: 0px;
}

.image-detail {
    ul.qc-errors {
        list-style: none;
        padding: 0px;
    }
    .headers {
        max-height: 250px;
        overflow: auto;
    }
}

.panel-body {
    padding: 0px 15px;
}

.panel-default {
    .panel-heading-template {
        color: white;
        background-color: #bbb;
    }
    .panel-body-template {
    background-color: #fafafa;
    }
}


/*bootstrap fixer*/
.affix {
    position: inherit;
}

@media (min-width: 992px) {
    .affix {
        position: fixed;
        top: 0;
        height: 100%;
        overflow-y: auto;
    }
}

/*
.studynote.study-accepted {
    background-color: #43ac6a;
}
*/

.template,
.study {
    &.study-accepted {
        .qc-issues {
            opacity: 0.3;    
        }
    }
    .qcalert {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 3px;
        pre {
            margin-bottom: 0px;
            padding: 3px;
        }
    }
    .table-imageheader {
        pre {
            margin: 0px;
            padding: 0px;
            border: none;
            font-size: inherit;
            background-color: inherit;
        }
        th {
            padding-left: 15px;
        }
    }
    .image-error {
        color: #f04124;
        border: 2px solid #f04124;
        padding: 5px;
        margin: 5px;
        background-color: #f2dede;
        pre {
            padding: 5px;
            background-color: white;
        }
    }
    .image-warning {
        color: #e99002;
        border: 2px solid #e99002;
        padding: 5px;
        margin: 5px;
        background-color: #fcf8e3;
        pre {
            padding: 5px;
            background-color: white;
        }
    }
    .template-selecter {
        .btn {
            font-size: inherit;
        }
        .form-control {
            padding: 5px;
            height: inherit;
            font-size: inherit;
        }
    }
}

.activity {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 90%;
    p {
        margin-bottom: 0px;
    }
}

